[2016-11-29 20:00] marcshilling commented on #408
This is a limitation of iOS. See #35.
Maybe [react-native-image-crop-picker](https://github.com/ivpusic/react-native-image-crop-picker) would better suite your needs?

[2016-11-29 20:00] #408 closed

[2016-11-30 06:31] chetstone commented on #324
I just ran into this error when I upgraded react-native from 0.32 to 0.33. I've checked everything mentioned above: `gradlew clean`, $rootDir in my maven, etc.

I'm using version 0.22.14 of this project. What could be the problem?

[2016-11-30 15:38] qlerebours opened #409 "Style issue when opening the image picker"
Hi,

I've got a style issue when opening the image picker on Android. The style seems to be missing... I wonder what I did wrong.

The imports:
[code]

The basic opening function:
[code]

My view:
`<Button info rounded style={AddTripStyles.roundedButton} onPress={() => self.openPhotoPicker()}><Icon name='md-add'/></Button>`

My options:
[code]

My version of RN is 0.33

The result:
![screenshot_20

[2016-11-30 15:42] marcshilling commented on #409
I'm not sure I understand what you mean...We don't provide any way to style the pop up, that's just the built-in Android `Dialog`. If you want a custom style for it, you should build the dialog yourself in JavaScript and use the `ImagePicker.launchCamera()` and `ImagePicker.launchImageLibrary()` functions.

[2016-11-30 15:52] qlerebours commented on #409
I know you're not providing any style, but my problem is that the style of the popup on my screen is not the Android one, and I didn't change anything. Do you have an idea of what I could did wrong ?

I'd like this style:
![image](https://cloud.githubusercontent.com/assets/17043042/20759507/632ebf4c-b71d-11e6-8721-f9764c557a20.png)

[2016-11-30 15:58] marcshilling commented on #409
Interesting. Well, the plain white is how it looks on my Galaxy S6 as well. I wasn't aware of that other style. How did you produce that? We're just using `AlertDialog` right out of the Android box.

[2016-11-30 16:11] qlerebours commented on #409
Sorry I'm not english and i don't want a misunderstanding:
When you say "other style" you mean the second one ?
And the plain white is the first I published ?

If it's what you mean, I took the second style on the masterpage of this github.
The first one is the style on my application that popped when using the code I shared on my post

[2016-11-30 16:23] marcshilling commented on #409
Ok, I think I see what's going on here. Give me a few minutes and I will try to fix.

[2016-11-30 16:26] marcshilling commented on #135
I personally don't mind the callbacks so I'm not in a rush to do this myself, but I've really just been waiting for a PR!

[2016-11-30 17:31] skyride99 commented on #395
It seems to be running now. Not crashing.  But now have an issue "Network Error". Lets close this issue.

[2016-11-30 17:31] #395 closed

[2016-11-30 17:33] marcshilling commented on #409
Alright, try out `v0.24.1` on npm. I'm now forcing the Holo Light theme.

[2016-11-30 17:34] marcshilling commented on #400
@radko93 hey, try out v0.24.1 on npm. I'm now forcing the Holo Light theme if that suites your needs. I suppose we could make this a customizable option that gets passed in going forward.

[2016-12-01 09:35] qlerebours commented on #409
It's working !
Thanks a lot for your work and your help !
I close

[2016-12-01 09:35] #409 closed

[2016-12-01 19:19] marcshilling commented on #407
@haomingden did that fix your issue?

[2016-12-01 21:41] BTMouseKing commented on #408
Thank you for recommendation, i'm using react-native-image-crop-picker now, it's great.

[2016-12-01 21:52] BTMouseKing commented on #405
For the preview issue, i've tried other solutions and had the same issue with iPad Air 2 ( iOS 10.1.1 ), I agree it might be a bug with the built-in iOS image picker for specific devices or iOS version. Removing maxWidth and maxHeight and setting allowsEditing: false makes the final image clearer for me.

[2016-12-01 21:52] #405 closed

[2016-12-02 09:04] liuliangsir2016 commented on #311
@marcshilling thx,it works

[2016-12-02 14:49] chrisdukey commented on #402
I get the same issue when installing on RN 0.39 (using react-native link) and also when trying the Example project (RN 0.38). I got the Example project working by switching the react-native dependency to 0.33.1 and the react dependency to 15.3.1

[2016-12-02 14:52] marcshilling commented on #402
@chrisdukey this is an issue for it not working on <= 0.33 and you are saying it doesn't work on 0.39 but it does on 0.33!? From my testing, it works on both versions, so I don't know how to move forward with this...

[2016-12-02 14:53] marcshilling commented on #402
When 0.40 is released we will be enforcing that as a minimum so hopefully this gets cleared up.

[2016-12-02 15:10] chrisdukey commented on #402
@marcshilling Yep, was just hinting to @christianversloot that it might be related to the version of react. Just tried the Example project with react-native 0.39 and react 15.4.1 and it's working fine. My first try was in a different project with react-native 0.39 and an older version of react.

[2016-12-02 22:08] marcshilling commented on #407
No response.

[2016-12-02 22:08] #407 closed

[2016-12-02 22:09] marcshilling commented on #402
Gonna close this because I believe we're fine on latest React Native and we'll be enforcing 0.40 soon.

[2016-12-02 22:09] #402 closed

[2016-12-02 22:13] marcshilling commented on #254
I don't know how to fix this or move forward with it...would love a pull request.

[2016-12-03 06:38] fozzarelo opened #411 "UIImagePickerManager.m no such file?"
no such file or directory: '/blabla/node_modules/react-native-image-picker/ios/UIImagePickerManager.m'

I just installed it and ran the link.. Am I doing anything wrong?

[2016-12-04 03:24] pocesar commented on #241
oh man @villetou you saved me, thanks

[2016-12-04 04:09] carlos-wong commented on #402
I see the issue, You need restart the package server. I think the package server need restart when add new third party modules js code

[2016-12-04 17:55] agrass opened #412 "[Android] App restarting when taking a picture"
Hi,

When I take the picture and press OK button the app get restarted. I have already checked out #244 and #190 and #316, but still restarting some times only in a Samsung Galaxy J7. In my Nexus 5x works perfect.

I'm working with 0.23.0  version of react-native-image-picker and RN 0.35.

Any help it would be greatly appreciated!

Thanks!

[2016-12-05 09:44] cssxn opened #413 "How to multiple？"
How to multiple？

[2016-12-05 10:44] yfuks commented on #413
https://github.com/marcshilling/react-native-image-picker#before-you-open-an-issue

[2016-12-05 14:56] #413 closed

[2016-12-05 14:57] marcshilling commented on #411
Well something is certainly wrong because that file is no more - it was renamed to `ImagePickerManager.m` many versions ago. Make sure you're running `npm install react-native-image-picker@latest`

[2016-12-05 14:59] marcshilling commented on #412
Can you post a crash log or anything? Works fine on my Galaxy S6...

[2016-12-05 15:07] richsilv commented on #254
I've experienced the same issue with a OnePlus 3, and running some experiments with [react-native-fs](https://github.com/johanneslumpe/react-native-fs) indicates that it takes around **8 seconds* for the reported file size to go from 0 to the correct value, and trying to use the image in the interim (like posting it to a service via `fetch`) will fail.

Whilst the delay seems very long (post-proce

[2016-12-05 15:27] marcshilling commented on #254
@richsilv `waitUntilSaved` is  only supported on iOS at the moment, so that explains why it's not working for you. I think you're probably on to something there though.

[2016-12-05 18:33] fozzarelo commented on #411
Yea, that makes sense.. Im dealing with old code. Look like I had a legacy uiimagepicker requirement suck in my appdelegate. Your response helped a lot in sorting it out. thanks.

[2016-12-05 18:33] #411 closed

[2016-12-06 00:32] jemise111 commented on #254
@richsilv same problem I was seeing. The uri returned in the response does not actually contain anything for somewhere between 500ms and 10s.

I'm not sure how to fix but I did find a (very hacky) workaround that may work for some people. Sadly it's all in JS:

something like...

[code]

[2016-12-06 01:42] ywqian opened #414 "undefined is not an object(evaluating 'ImagePickerManager.showImagePicker')"
error：undefined is not an object(evaluating 'ImagePickerManager.showImagePicker')

devices: oppo R8007

[2016-12-06 02:23] agrass commented on #412
I'm using this config:
[code]

Anyway I updated the software of the Galaxy J7 and now it's working.

Thanks!

[2016-12-06 02:23] #412 closed

[2016-12-06 04:06] TrustTheBoy commented on #414
@ywqian How to solve error? I have encountered an error message

[2016-12-06 04:35] TrustTheBoy commented on #414
Solutions:  https://github.com/marcshilling/react-native-image-picker/issues/381

[2016-12-06 04:39] ywqian commented on #414
ok, I alreay solve this problem.

[2016-12-06 04:39] #414 closed

[2016-12-06 04:46] TrustTheBoy commented on #414
How do you resolve them? One of my errors

[2016-12-06 04:53] ywqian commented on #414
first：execute the command：   react-native link react-native-image-picker
second：
check directory android/app/build.gradle：compile project(':react-native-image-picker')

android/setting.gradle：
include ':react-native-image-picker'
project(':react-native-image-picker').projectDir = new File(rootProject.projectDir, '../node_modules/react-native-image-picker/android')

android/app/src/..../MainApplica

[2016-12-06 06:51] TrustTheBoy commented on #414
Thank you very much for your answer. Solve this problem @ywqian

[2016-12-06 11:12] agrass commented on #72
HI @yfuks, I'm having this problem some times. It's there another workaround?

[2016-12-08 22:23] DiegoGallegos4 opened #415 "showImagePicker of undefined"
I have run into this problem. In version 0.23 and 0.24. I run react-native link and it add .xcodeproj into libraries and .a file into linking libraries as well as the Header Search Paths.

I have tried everything and Im using the same version Im using for another app.

[2016-12-09 22:09] StevePotter opened #416 "Disable 'Compressing Video'"
Hi, we are using your awesome plugin for selecting videos to upload.  In iOS, we're uploading the response.origURL property that starts with "assets-library:".  We do this to avoid compressing the video twice, as we have mandatory video transcoding after upload.  When the user selects a video, it runs for a while "Compressing Video", resulting in the response.uri property from the picker callback.

[2016-12-10 13:40] joncursi opened #417 "Recommended Way to "Clean Up" Created Images?"
Is there a recommended way to clean up images that are created vis-a-vis this package? I noticed that a bunch of files are getting stuffed into `Documents/images` and I'm trying to figure out the best way to clear that out after the user has completed their task that generated the image.

<img width="589" alt="screen shot 2016-12-10 at 8 39 23 am" src="https://cloud.githubusercontent.com/assets/49

[2016-12-10 15:03] marcshilling commented on #417
Seems like you're providing the `storageOptions` key in your options dictionary. That's what saves the images. If you don't want them saved simply omit that key.

[2016-12-10 15:32] joncursi commented on #417
Fantastic, thank you!

[2016-12-10 15:32] #417 closed

[2016-12-11 14:35] pewh opened #418 "[Android] Bug cannot show alert after pick image"
Hello. This repo is great, until I found a glitch on my use-case, which I need to show confirmation after pick image.

[code]

Tested on RN Image Picker version 0.23 & 0.24.1 with RN 0.39 (Android Genymotion)

**Edit:**
It show alert & console if I click cancel on popup. But when I pick image, it just show console later.
Tested on `showImagePicker` and `launchCamera`

[2016-12-11 19:09] cinder92 commented on #415
+1 i'm using react native 0.36.1 it says `undefined is not an object (evauluating 'ImagePickerManager.showImagePicker')`

[2016-12-11 19:18] cinder92 commented on #415
figured out! you need to set this permissions on `AndroidMnifest.xml`

[code]

and then restart the server :)

[2016-12-11 19:18] #415 closed

[2016-12-12 09:06] iou90 opened #419 "[iOS] Video recording need Microphone permission in iOS 10"
Please add "Add Privacy - Microphone Usage Description to Info.plist" to README.md, thx

[2016-12-12 14:47] funkysoul commented on #351
@TroutZen I'm actually experiencing the same issue with the exact versions you mentioned above, did you fix that or do you know why this happens?

[2016-12-12 20:58] marcshilling commented on #419
Done, thanks!

[2016-12-12 20:58] #419 closed

[2016-12-13 18:00] thorbenprimke commented on #351
I'm seeing a crash with Android 7 and RN 0.38. Seems to be isolated to Android 7. Will dig into the Java crash stack tonight.

[2016-12-13 20:31] esganzerla commented on #153
Hi, Im trying to upload an image as @kiliwalk posted the example, and I believe it is uploading to the server...

But everytime I do it the server is returning:
[code]

Does anyone know what's going on? And how I can fix it?

Thanks!

[2016-12-14 15:49] thorbenprimke commented on #376
Downgrade to targetSDK 23 fixes it temporarily.

https://developer.android.com/training/camera/photobasics.html
^^^ Outlines how to work with the Camera and `content://`

I'll try to get a PR out this weekend.

[2016-12-16 00:11] esganzerla opened #420 "Include instructions to upload"
Hi,

I've started developing in react-native just recently and I had a lot of trouble to implement this module with upload. I found out that many people have this problem also.

I suggest to include instructions to upload to the bottom of the Read Me. I'm willing to make the pull request if you consider this interesting too.

By the way, my main problem was php ```upload_max_filesize```, which I s

[2016-12-16 08:27] gongwenyi opened #421 "React-native-image-picker will select the photos in Android will be flashed on the desktop, use rn0.37"

[2016-12-16 14:48] marcshilling commented on #420
There are a ton of different ways to upload an image to a web server, so I doubt 1 set of instructions in the README would even begin to cover everyone's use cases. Besides, image uploading isn't the responsibility of this package - choosing the image is.

[2016-12-16 14:48] #420 closed

[2016-12-16 14:49] marcshilling commented on #421
Not a lot of info to go by here...but I would suggest following the installation instructions thoroughly.

[2016-12-16 14:51] marcshilling commented on #418
The response callback is not called until you've selected or taken a photo.

"It show alert & console if I click cancel on popup" - yes because you've cancelled the dialog so we execute the callback with `didCancel: true`.

[2016-12-16 14:53] marcshilling commented on #416
According to [this Stack Overflow post](http://stackoverflow.com/a/5893066/3178793), that is built-in iOS functionality and there is no way to disable it.

Is that what you're experiencing?

[2016-12-16 15:28] pewh commented on #418
Hello @marcshilling, thanks for the reply. Sorry for my incomplete post.

I've pick an image, and after that, it shows output on console, but still no alert dialog.

[2016-12-16 15:31] pewh commented on #418
But if I trigger `didCancel: true` by click cancel on popup, it shows console and alert. So, I'm confused why alert is not triggered after image is picked, but console show.

[2016-12-16 15:54] marcshilling commented on #418
Seems like maybe a race condition. Try this:

[code]

[2016-12-16 17:21] tomazahlin commented on #218
I have the same problem. Setting allowsEditing: true does not help. Android 4.1.2

[2016-12-16 18:00] marcshilling commented on #218
`allowsEditing` is no longer an option for Android. It caused too many problems. @tomazahlin are you using the latest version of this package on npm?

[2016-12-16 18:25] tomazahlin commented on #218
Hi @marcshilling , yes I use the latest version. I found out that adding the option "allowsEditing" did not affect anything, like the docs say it is not supported. But I also solved my problem - the problem was that the emulator did not have a hardware camera attached (you can do this in "android avd" settings of the emulator. After I connected the laptop camera to it, it worked. So maybe in your

[2016-12-16 18:47] cyphire opened #422 "Instructions for manual install are incorrect (I think!)"
settings.gradle file shows install instructions of:

`project(':react-native-image-picker').projectDir = new File(settingsDir, '../node_modules/react-native-image-picker/android')
`

when it should be:

`project(':react-native-image-picker').projectDir = new File(rootProject.projectDir, '../node_modules/react-native-image-picker/android')`

[2016-12-16 20:31] halibut opened #423 "Enhancements for streamlining camera/image capture."
**Use case**: Apps that need to capture an image from the camera, and want to remove all but the most basic interaction from the user.

**Platform:** I've only tested on iOS so far.

**Enhancement 1**: Is it possible to launch the camera with the flash mode set to "auto"? Right now, it always launches as "off". Alternatively, if it's not possible to pass as an argument, it would be fine if the set

[2016-12-16 21:29] marcshilling commented on #423
@halibut these are some valid enhancements, but both things you've described are a part of the built-in iOS functionality of the `UIImagePickerController` that we are using under the hood. One of the things that I am very committed to doing with this library is keeping it as a pure bridge of the native iOS/Android functionality. Otherwise, this repo would spiral out of control trying to cover ever

[2016-12-16 21:29] #423 closed

[2016-12-16 21:31] marcshilling commented on #422
You're right - fixed! Thank you!

[2016-12-16 21:31] #422 closed

[2016-12-16 21:32] cyphire commented on #422
my pleasure!

[2016-12-17 11:30] wcandillon opened #424 "Destructive custom button?"
@marcshilling Thank you so much for this amazing library!

I am using a custom button to remove a picture that is already set and I was wondering if there is a way to style a custom button as being a destructive button?

[2016-12-19 02:39] zphhhhh opened #425 "I encoded image data, it get wrong when I use BASE64Decoder64() in Java server?"
When using Java BASE64Decoder64() at server, generated image isn't what it was before.
[code]

[2016-12-19 11:13] tanmynguyen opened #426 "Not working in ios 10.2!!!"
![image](http://imageshack.com/a/img922/7338/AkgWZ2.png)

[2016-12-19 15:42] pewh commented on #418
Have try that, but no luck.

Based on some experiments:
1. Without `InteractionManager` -> alert not show
2. With `InteractionManager` -> alert not show
3. Debug JS remotely is ON and without `InteractionManager` -> alert is show
4. Debug JS remotely is ON and with `InteractionManager` -> alert is show

So, alert is show when `debug JS remotely` is on.

[2016-12-19 15:48] marcshilling commented on #418
Very odd. Can you try just wrapping everything in a long `setTimeout`? See if it fires after a 5 second delay?

[code]

[2016-12-19 15:54] pewh commented on #418
`setTimeout` is working, either value is `5000` or `1`. So I can make it work on:
[code]

I' close this issue as I get it working, although it seems a hack way. Thanks so much, bro :beers:

[2016-12-19 15:54] #418 closed

[2016-12-19 15:57] marcshilling commented on #418
Hmm really just a 1ms delay...weird! If that's all it takes, using `requestAnimationFrame(() => { })` may be "better" than `setTimeout`.

[2016-12-20 08:26] congnguyen91 opened #427 "[feature] Request options "formatToMp4""
Some videos I want to send from IOS to other phone but in ios devices these videos is in MOV format => It can't play in some Android Devices, so I want to request an option to format mp4.

`if ([[self.options objectForKey:@"formatToMp4"] boolValue] == YES) {
                NSURL *parentURL = [videoDestinationURL URLByDeletingLastPathComponent];
                NSString *path = [parentURL.path str

[2016-12-21 02:52] zk6859 commented on #378
How did you solve this?
I'm running into the exact same thing.
Followed the installation instructions strictly.

[2016-12-21 05:33] hhashmi commented on #380
I'm still facing this issue using
react-native-image-picker: 0.24.1
react-native-cli: 1.0.0
react-native: 0.34.0
iOS: 10.12
xcode: Version 8

<Error>: [Generic] Creating an image format with an unknown type is an error

[2016-12-21 05:33] hhashmi opened #429 "<Error>: [Generic] Creating an image format with an unknown type is an error"
I'm still facing this issue using
react-native-image-picker: 0.24.1
react-native-cli: 1.0.0
react-native: 0.34.0
iOS: 10.12
xcode: Version 8

<Error>: [Generic] Creating an image format with an unknown type is an error

[2016-12-21 15:46] marcshilling commented on #429
And what behavior are you seeing exactly? This message gets logged to my Xcode console as well, but the image picker still returns the image successfully, so I'm not sure what's up with this message.

[2016-12-21 16:01] marcshilling commented on #378
Well, these comments are certainly odd...

That aside, this error means the native Xcode project was not correctly linked. I'd recommend starting from scratch and following the manual instructions in the README.

[2016-12-21 23:24] marcshilling commented on #426
I can't reproduce. Working fine for me in iOS 10.2. Can you post what options you are setting for the image picker and what action you are performing (taking photo or choosing from library).

[2016-12-22 03:31] tanmynguyen commented on #426
`chooseImageCard(id){
    const options = {
      quality: 1.0,
      maxWidth: 400,
      maxHeight: 200,
      storageOptions: {
        skipBackup: true
      },
      allowsEditing: true,
      mediaType: 'photo'
    };

    ImagePicker.showImagePicker(options, (response) => {
      if (response.didCancel) {
        console.log('User cancelled photo picker');
      }
      else if (response.er

[2016-12-22 12:11] hhashmi commented on #429
yes you are right, exactly same is happening in my case.
I'm just worried about that error message. Don't want things to get broken later due to this.

[2016-12-22 17:12] marcshilling commented on #429
Ok cool. Well as long as it's working now I'm not super concerned about it, but I agree it would be nice to clear it up. If anyone knows what's causing this please send a PR!

[2016-12-22 23:56] marcshilling commented on #426
I was just able to successfully choose a photo with your options, so I'm not sure what's going on here. Your crash stacktrace isn't particularly helpful, can you provide me any more info? Are you using the latest version on npm? Can you run the Example project?

[2016-12-23 03:04] tanmynguyen commented on #426
yeah.
i'am using
react-native: 0.39
node v7.0.0
npm 3.10.8

[2016-12-23 17:48] marcshilling commented on #426
Latest version of `react-native-image-picker` I meant:

`npm install react-native-image-picker@latest --save`

[2016-12-23 17:51] marcshilling commented on #424
This is definitely possible. iOS has the concept of "destructive" and Android calls it "negative". We could easily look for a `style` key on the `customButtons` objects that get passed in. If you want to take a stab at a pull request that would be awesome, if not I will keep this open and try to get around to it eventually!

[2016-12-23 21:18] percyteng commented on #1
@sorenbs Can you please share your code sample on the backend too? Thanks!

[2016-12-24 10:35] wcandillon commented on #424
@marcshilling Thanks for the answers! I opened #431 but unfortunately I'm completely unfamiliar with native development.

[2016-12-24 22:11] onyxrev commented on #426
@tanmynguyen make sure you set `NSPhotoLibraryUsageDescription`. I got this error along with some console output:

[code]

Once I set that value everything worked swimmingly.

[2016-12-26 10:03] congnguyen91 opened #432 "[Android feature] Request editing video duration after user chooses it from the library"
It's ok for limiting video duration from recording now. Could you add a feature for editing video duration after choosing it from the library on Android :)

[2016-12-26 10:55] congnguyen91 commented on #432
I found a solution on android with REQUEST_LAUNCH_VIDEO_LIBRARY. After choosing video we can Use trim intent. But I don't know how to set limit duration

        Intent trimVideoIntent = new Intent("com.android.camera.action.TRIM");
        trimVideoIntent.putExtra("media-item-path",getRealPathFromURI(data.getData()));
        trimVideoIntent.setData(data.getData());
        Activity currentActivi

[2016-12-27 02:40] wv1124 opened #433 "Not support multiple selected"
Not support multiple selected

[2016-12-27 02:56] marcshilling commented on #433
Please read the very beginning of the README

[2016-12-27 02:56] #433 closed

[2016-12-27 04:54] varun-raj commented on #415
I face this issue when using in iOS, anyone one fixed it for ios?

[2016-12-27 13:42] iamdurui opened #434 "React-native-image-picker will select the photos in Android will be crashed"
When I take a picture ,the app is crashed, react-native :0.35, android version 5.11, "react-native-image-picker": "^0.22.8",the container is ScrollView ,it contain six image-picker,my phone is Redmi3,please give me solution，thanks.

[2016-12-29 05:57] ywqian opened #435 "take photo has leaked IntentReceiver"
![image](https://cloud.githubusercontent.com/assets/13879218/21537558/1a27c538-cdce-11e6-8928-b9c36e75cfc9.png)

device: oppo r8007
description: I put the React Native application integration into the android applications, take photos when the error, I don not why?

[2016-12-29 09:40] camlahoud commented on #376
You can switch to using the FileProvider class as outlined in [https://inthecheesefactory.com/blog/how-to-share-access-to-file-with-fileprovider-on-android-nougat/en](https://inthecheesefactory.com/blog/how-to-share-access-to-file-with-fileprovider-on-android-nougat/en) for example.

But I would recommend adding a condition based on the android version instead of following their advice to just cha

[2016-12-29 10:42] Sumrocks opened #436 "can not select video/photos from library"
looks like callback is not work
no print!!!
same to 'launchCamera';
version ："react-native-image-picker": "^0.24.0",

[code]

[2016-12-29 10:55] Sumrocks commented on #436
forgot something.
It works well in pure reactNative project, when i move to android project, troubles coming.
can you give some suggestion

[2016-12-30 02:14] Sumrocks commented on #436
Solved! ==>#383
@Override public void onActivityResult(int requestCode, int resultCode, Intent data) {
       super.onActivityResult(requestCode, resultCode, data);
       mReactInstanceManager.onActivityResult(this, requestCode, resultCode, data) ;
}

[2016-12-30 02:14] #436 closed

[2016-12-30 02:15] Sumrocks commented on #383
@Gagege  thanks!

[2016-12-30 09:05] sumesh1993 opened #437 "Image is not displayed (Android)"
After saving the image uri in local storage and then killing the app, the image is no longer visible using the stored URI

Solved it by using file path instead of uri , just need to append 'file:///' before response.path

Would be better if the module itself returns the correct uri and path for both iOS and Android

[2016-12-31 14:34] Gys opened #438 "crashes on iOS (solved)"
It took me some experimenting before I got this working on iOS without crashes.

So to clearify the readme (which is correct):

The Info.plist is to be found in
`<root app dir>/ios/<app name>/Info.plist`

Add the keys in the list between the `<dict>` and `</dict>` tags, like:
[code]

If you have a simulator running, close everything en then run it again: react-native run-ios

[2017-01-01 20:40] matejkramny commented on #438
This should be in `readme.md`

[2017-01-01 23:49] marcshilling commented on #438
@matejkramny it is!

[2017-01-01 23:49] #438 closed

[2017-01-01 23:51] #416 closed

[2017-01-01 23:51] #421 closed

[2017-01-02 00:07] marcshilling commented on #432
[react-native-image-crop-picker](https://github.com/ivpusic/react-native-image-crop-picker) may be a better choice for you.

[2017-01-02 00:07] #432 closed

[2017-01-02 00:08] #369 closed

[2017-01-02 00:09] #425 closed

[2017-01-02 00:10] #435 closed

[2017-01-02 00:11] #437 closed

[2017-01-02 00:11] #434 closed

[2017-01-02 00:11] #426 closed

[2017-01-02 00:18] matejkramny commented on #438
I see. Sorry, overlooked.

[2017-01-02 00:20] matejkramny commented on #438
The reason I didn't see it is because I installed with `react-native link` and therefore didn't look at the Manual steps

[2017-01-04 07:11] congnguyen91 commented on #432
This is a helpful source: https://github.com/knowledge4life/k4l-video-trimmer

[2017-01-04 14:35] abuammar opened #439 "Directly Launching the Camera or Image Library"
when i click touchable component i want to open only either imageLibrary or camera , what is happening is first camera is opened in both cases. this is the code

<TouchableOpacity onPress={() => this.selectPhotoTapped()}>
              <View style={[styles.avatar, styles.avatarContainer]}>
              { this.state.avatarSource === null ?
                <Image style={{width: 60, height: 60}}

[2017-01-04 16:17] radvc opened #440 "When Pick from Library it closes the App"
I copy the example in the repo and run IOS, why app closes when I tap choose from library and there is no photo selection. Did i missed something?

[2017-01-04 16:19] marcshilling commented on #439
You're calling `launchImageLibrary()`, so obviously that will be launched every time. It sounds like you want to use the default picker, so you should just be using `showImagePicker()`, which presents the action sheet to choose between library/camera.

[2017-01-04 16:19] #439 closed

[2017-01-04 16:20] marcshilling commented on #440
Yes, you're probably missing something. Did you follow all the README instructions? Look at your Xcode logs. Forgetting to add permissions to Info.plist is a common mistake.

[2017-01-05 02:31] radvc commented on #440
@marcshilling thanks for your reply, I reinstall again the package and follow the README, I set the permissions in Info.plist, unfortunately the app still closes when I tap choose from library

[2017-01-05 02:40] radvc commented on #440
@marcshilling its working now, I pasted the line for permission in another Info.plist. hahaha. Thanks!

[2017-01-05 02:41] #440 closed

[2017-01-06 11:49] sagar-kiwi opened #441 "app crash when open library"

[2017-01-09 07:35] wwl901215 opened #442 "iOS can open photo library ,but can't get photo"
i can use this successfuly in android.  but i can not get photo in ios ; In ios , i can open Photo Library;
can you help me ? i am newer to ios , i was learn android.

[2017-01-09 10:17] Ruchika1989 opened #443 "evaluating 'imagePickerManager.showImagePicker'"
undefined' is not an object (evaluating 'imagePickerManager.showImagePicker')

how can i handle this ?

[2017-01-09 15:50] proProbe commented on #379
Im currently trying to implement this. I've forked the library and started but am currently stuck on trying to get the correct filepath. The fork is located here `https://github.com/proProbe/react-native-image-picker/blob/master/android/src/main/java/com/imagepicker/ImagePickerModule.java`. The problem is basically on line `https://github.com/proProbe/react-native-image-picker/blob/master/android/

[2017-01-09 22:18] cooperka opened #444 "Image `isStatic` is no longer used"
See https://github.com/facebook/react-native/commit/5b425278bb849ec03912fd155a20456890d14f82. I'll make a PR soon to improve the README example.

[2017-01-10 07:39] brascene commented on #241
@villetou Thanks!!

[2017-01-10 08:59] wwl901215 commented on #442
it seem that ImagePicker.showImagePicker(optins,callBack) don't work .  The callBack don't work.

[2017-01-10 09:55] JusticeLai opened #445 "Native Android jump to ReactNative then push pick err"
Native iOS jump to ReactNative then push pick correct,Native Android jump to ReactNative then push pick err,if on ReactNative push pick is ok
![image](https://cloud.githubusercontent.com/assets/13083749/21801672/a4de8c46-d75d-11e6-8b30-37bc60bc2d2e.png)

[2017-01-10 16:36] JusticeLai commented on #445
I/ReactNativeJS: 'Response = ', { error: 'can\'t find current Activity' }
I/ReactNativeJS: 'ImagePicker Error: ', 'can\'t find current Activity'

another error..  if i add  this  ---  .addPackage(new ImagePickerPackage())    --

[2017-01-10 17:46] ju5td0m7m1nd opened #447 "(iOS) Customize Camera Button (take photo, switch front and back ... )"
If set "showsCameraControls" to false, and hide all the default button

and let customized components can overlay on the Camera view,

once those components triggered, we can use takePhoto() or set

UIImagePickerControllerCameraDevice to corresponding camera.

Then we can let components work.

Wonder if it is possible to achieved, or any suggestion to get this done.

Thanks.

[2017-01-11 01:53] wubangshun commented on #445
same problem

[2017-01-11 02:16] JusticeLai commented on #445
### Version
- react-native-image-picker v0.24.1
- react-native v0.40

### Platform
- Android

### Steps to reproduce

1.Android hava a button ,then jump to ReactNative Activity(if only ReactNative is ok,to show picker)

2.In ReactNative Activity click a button,to show this  image-picker

3.Android Studo log Error
I/ReactNativeJS: 'Response = ', { error: 'can\'t find current Activity' }
I/ReactNati

[2017-01-11 02:57] marcshilling commented on #443
This means you did not properly link the native library. I'd recommend following the README through again in detail.

[2017-01-11 02:57] #443 closed

[2017-01-11 03:01] marcshilling commented on #445
This means you did not properly link the native library. I'd recommend following the README through again in detail.

[2017-01-11 03:01] #445 closed

[2017-01-11 03:01] marcshilling commented on #441
Can you provide more detail? Crash logs?

[2017-01-11 03:03] marcshilling commented on #447
From the README "Before you open an issue":
This library started as a basic bridge of the native iOS image picker, and I want to keep it that way. As such, functionality beyond what the native UIImagePickerController supports will not be supported here.

What you need seems to be a more customized approach than what the goal of this package is. I'd suggest forking and trying to implement something

[2017-01-11 03:03] #447 closed

[2017-01-11 03:15] JusticeLai commented on #445
no,i,have alerady Integrate other is ok.
The steps are the same, but other components can
![image](https://cloud.githubusercontent.com/assets/13083749/21834322/398fb1d0-d7ef-11e6-894b-6e5236dc4f18.png)

[2017-01-11 03:18] marcshilling commented on #445
@JusticeLai the error from your original post is different from the second error you posted. For the 2nd error, try upgrading to `react-native-image-picker@0.25.0`

[2017-01-11 03:20] JusticeLai commented on #445
1.AndroidManifest.xml  add  permission
2.addPackage(newImagePickerPackage())----in ReactNative Activity
3.settings.gradle  add some code
4.build.gradle      add some code
5.and rebuild the project
6.The steps are the same, but other components can

[2017-01-11 03:21] marcshilling commented on #444
Fixed, thanks!

[2017-01-11 03:21] #444 closed

[2017-01-11 03:39] JusticeLai commented on #445
@marcshilling
Problem 1
i addPackage in the MainApplication
but really addPackage in the ReactNative Activity,because my root ReactNative is not MainApplication

Problem 2
update  react-native-image-picker@0.25.0  and did not show anyThing
Android Studo  log
I/ReactNativeJS: 'Response = ', { error: 'can\'t find current Activity' }
I/ReactNativeJS: 'ImagePicker Error:', 'can\'t find current Activit

[2017-01-11 03:48] JusticeLai commented on #445
@marcshilling   he aslo have same problem,i had alerady talk to  @wubangshun
Can you understand what I describe? My English is not very good
The above problems I have written in more detail, the use of other components is the same integration, it is possible to run

[2017-01-11 12:53] sagar-kiwi commented on #441
hi marcshilling ,  actually i was trying to open library in landscape mode thats why the app crash . buit it fixed i used image cropper plugin..
Thanks

[2017-01-11 17:42] seand88 opened #448 "Send Image File To Backend API"
Does anyone know the best way to do this using the plugin?
It would be nice to see some sort of example since not sure where to start here.

[2017-01-12 02:12] tones411 opened #449 "launchImageLibrary not working on iPhone emulator"
react-native-cli: 2.0.1
react-native: 0.40.0
"react-native-image-picker": "^0.25.1",

It works fine on Android, but when I run it in the iOS emulator or physical iphone device I get this error:

Here is the stripped down version of my source code:
[code]

The only thing different I can think of is that when I linked the binary with the library, I could only find "libRNImagePicker.a" (instead of "R

[2017-01-12 09:38] PuppyYuan commented on #449
install it manually, do not use auto link command line

[2017-01-12 14:05] tones411 commented on #449
Thanks, I tried the auto link command line at first, but then installed it
manually after. But the issue happened after I did the manual installation.

On Jan 12, 2017 2:38 AM, "PuppyYuan" <notifications@github.com> wrote:

[2017-01-13 02:34] tones411 commented on #449
I created a new RN project and tried it there. It worked just fine. It must be something I did wrong in my project.

[2017-01-13 02:34] #449 closed

[2017-01-13 04:25] PuppyYuan commented on #449
it's a library dependency problem, get some help from ur ios developer,  I've changed my Library " header search path “and work fine

[2017-01-13 04:26] tones411 commented on #449
I tried a new project and it worked there. So I removed the iOS references
in my original project and added them again. Voila! It's working. Thanks!

On Thu, Jan 12, 2017 at 9:25 PM, PuppyYuan <notifications@github.com> wrote:

[2017-01-13 09:08] cjl-df opened #451 "error：ImagePickerModule不是抽象的，并且未覆盖activitiyEventListener中的onActivityResult抽象方法"
![image](https://cloud.githubusercontent.com/assets/3387329/21924092/79a63c16-d9b2-11e6-8008-a191f8293d4f.png)

我按照github官方上的安装说明做的。
先用npm install --save react-native-image-picker 安装，
然后在用 rnpm link的时候抱如下错误，
![image](https://cloud.githubusercontent.com/assets/3387329/21924250/59f81582-d9b3-11e6-9838-bff5a5394028.png)
请高手解答，感激不尽。

[2017-01-14 13:12] jackjunjiang opened #452 "About magePickerManager.showImagePicker"
undefined is not an object (evaluating'ImagePickerManager.showImagePicker')

[2017-01-15 03:34] jackjunjiang commented on #442
me too,it is about ImagePickerManager.showImagePicker

[2017-01-15 10:47] iwoork opened #453 "'React/RCTBridgeModule.h' file not found"
Getting 'React/RCTBridgeModule.h' file not found when building this plugin.

`=== BUILD TARGET RNImagePicker OF PROJECT RNImagePicker WITH CONFIGURATION Debug ===

Check dependencies

CompileC /Users/efren/meetdine-react/ios/build/Build/Intermediates/RNImagePicker.build/Debug-iphonesimulator/RNImagePicker.build/Objects-normal/x86_64/ImagePickerManager.o ImagePickerManager.m normal x86_64 objective

[2017-01-15 14:24] eboomyl commented on #453
file：ImagePickerManager.h
 change  #import <React/RCTBridgeModule.h>
to  #import "RCTBridgeModule.h"

[2017-01-15 14:32] eboomyl commented on #452
in  xCode  your project Libraries path，selected RNImagePicker.xcodeproj
in "build Setting" -> "Search Paths" ->"Header Search Paths"  add ( $(SRCROOT)/../../react-native/React )

[2017-01-15 15:29] marcshilling commented on #453
We require RN 0.40 now. Guessing you're below that version.

[2017-01-16 05:54] kayoubi commented on #442
+1, if I select "choose from library.." the application crashes

[2017-01-16 07:46] kayoubi commented on #448
`response.data`

[2017-01-17 00:35] jsappme opened #454 "Duplicate interface definition for class 'RCTBridge'"
I am getting the following error when building with xcode:

RCTBridge.h:65:1: Duplicate interface definition for class 'RCTBridge'

I am using rn 0.40 with the latest react-native init DemoApp

[2017-01-17 02:15] hubertwang opened #455 "Not working with project which was integrated with react-native by CocoaPods"
Hi,

I am developing a project which was integrated with react-native by CocoaPods manually. In other words, my project is not generated by react-native-cli. Everything works fine until react-native 0.40.0 released.

As we know, there was a breaking change which affects the naming space of react-native. However, the change seems has side effect over sub-projects. We are not able to access react-na

[2017-01-17 11:32] XHTeng commented on #453
I require the 0.39,also has the issues  , how to solve it ?

[2017-01-17 13:00] zizizi17 commented on #453
i even set up RN 0.40 and the app is breaking anyway
how to solve it?

[2017-01-17 13:44] danrice01 commented on #448
I've used this - https://github.com/aroth/react-native-uploader, passing `response.data`.

[2017-01-17 14:08] imjameshall commented on #455
Whats the error you're getting?

[2017-01-17 14:41] marcshilling commented on #453
@XHTeng 0.39 is no longer supported. You can try to `npm-install react-native-image-picker@0.24.0 --save` to use the previous version of this package.

@zizizi17 There should be no issues if you're on RN 0.40. What's your error?

[2017-01-17 14:42] marcshilling commented on #452
Follow the README manual install instructions.

[2017-01-17 14:42] #452 closed

[2017-01-17 14:43] marcshilling commented on #454
That error sounds like an issue with your specific project, not this library. The error is thrown in React Native code.

[2017-01-17 14:56] eboomyl commented on #453
**first**  in xcode
Libraries -> RNImagePicker.xcodeproj -> buid Settings ->Search Paths ->Header Search Paths
add $(SRCROOT)/../../react-native/React   because   node_modules/react-native-image-picker/**ios**
**second**
in xcode your project select ，is not Libraries  ，you select Build Phases  at "Link Binary With Libraries"  add  "libRNImagePicker.a"
**third**
ImagePickerManager.h  and ImagePicke

[2017-01-17 15:01] marcshilling commented on #453
@eboomyl your "first" and "second" steps are described in the README and your "third" step is incorrect for people using React Native 0.40. `v0.25.0` of this package will work out of the box for React Native 0.40. If using less than React Native 0.40 you should install `v0.24.0` of this package.

[2017-01-17 15:10] eboomyl commented on #453
My RN is 0.39  , react-native-image-picker is 0.25.1

[2017-01-17 15:14] jsappme commented on #454
I am using the latest xcode version 8.2.1 and the init react native app. when I remove the module it works without any problem again. So I am not sure to understand what do you mean by "an issue with your specific project, not this library".

[2017-01-17 15:15] marcshilling commented on #453
@eboomyl if you're not yet on RN 0.40 you should install `v0.24.0` of this package then there will be no need to manually change the files - but your call.

[2017-01-17 15:23] marcshilling commented on #454
Your error says there is a duplicate definition of 'RCTBridge'. This package does not declare or import RCTBridge, so something is up with your configuration. Hard for me to tell you what's going on with this limited information. Try to do some more debugging by yourself, and find out where the duplicate declaration is coming from.

[2017-01-17 15:25] cooperka commented on #376
Thanks for the link @thorbenprimke. Were you ever able to work on a PR?

[2017-01-17 15:52] jsappme commented on #454
I think I was able to remove the errors but I still have this weird warning:

[RCTBridge.m:111] Class GooglePlusShare was not exported. Did you forget to use RCT_EXPORT_MODULE()?

any idea why?

[2017-01-17 16:00] marcshilling commented on #454
I wouldn't worry about that warning. Again, that's coming from a different module in your code. If you aren't explicitly using `GooglePlusShare` you won't have any issues.

[2017-01-17 16:02] jsappme commented on #454
Cool. Who still uses GooglePlusShare?

Thanks for your help.

[2017-01-17 16:03] marcshilling commented on #454
It's likely included in some other package you depend on. Maybe FacebookSDK?

[2017-01-17 16:21] jsappme commented on #454
Sorry I got confused with another issue. When I uninstall react-native-image-picker I have no more error, but as soon I reinstall it using:

[code]

I still experience the following errors:

/Users/herve76/Desktop/Fishii/node_modules/react-native/React/Base/RCTBridge.h:65:1: Duplicate interface definition for class 'RCTBridge'
/Users/herve76/Desktop/Fishii/node_modules/react-native/React/Base/RCTB

[2017-01-17 16:27] jsappme commented on #454
I am using version 0.25.1

[2017-01-17 16:31] marcshilling commented on #454
Can you try not using `react-native link`? Uninstall the image picker again, reinstall, then follow the manual instructions in the README.

[2017-01-17 16:46] jsappme commented on #454
It's working now! Thanks again.

[2017-01-17 16:46] #454 closed

[2017-01-18 00:57] sigrlami commented on #324
@npomfret did you find a way to fix this? aar package install, but project can't find even base interfaces like `ReactPackage`

[2017-01-18 01:07] hubertwang commented on #455
Can not find RCTBridgeModule.h, Xcode compile failed.
I tried both "RCTBridgeModule.h" and <React/RCTBridgeModule.h>, but they all failed to compile.

[2017-01-18 02:05] XHTeng commented on #453
@marcshilling Thank you ! it work!

[2017-01-18 09:04] zizizi17 commented on #453
@marcshilling i set up RN 0.40.0, and react-native-image-picker 0.24.0
but i have another dependencies at my project. maybe it causes the problem with RCTBridge.h file not found?

[2017-01-18 09:40] npomfret commented on #324
No, it cannot be fixed.  Seems like the react community don't like to compile code in isolation.  You have to create a react native project and code your library within that.  Madness.

[2017-01-18 13:39] marcshilling commented on #324
@npomfret First of all, have you guys upgraded to React Native 0.40 yet and v0.260 of this package? All the `BaseActivityEventListener` stuff has been removed because we now enforce > RN 0.40.
Beyond that, I still don't understand your real issue and you haven't really offered any suggestions to fix it. This project is not meant to be used outside of a React Native project. It _requires_ React Nat

[2017-01-18 13:40] marcshilling commented on #453
@zizizi17 search for your issue on the React Native repo. There is some discussion happening there about this since the release of RN 0.40.

[2017-01-18 14:01] sigrlami commented on #324
@marcshilling I just have similar issue with my own library. If we depending on fb react native lib it's obvious that it should be linked against it,  without react native sources on top

[2017-01-18 14:20] marcshilling commented on #324
@sigrlami what do you mean "without React Native sources on top"?

[2017-01-18 14:34] sigrlami commented on #324
@marcshilling meaning from your words `It requires React Native in the parent project to build.` I think this is required because you use some not public APIs?

[2017-01-18 14:46] marcshilling commented on #324
From looking at the post @npomfret linked, it seems like the React Native core team disagrees with what you guys are trying to accomplish. If you can convince them to take steps to make this possible then I'm onboard, but for now I think I'm doing the correct thing with this library.

[2017-01-18 15:55] sigrlami commented on #324
@marcshilling I don't mean to question library codebase, it's architecture and your vision at any level. Just have a similar problem on another project that leads to significant inconvenience. Anyway, thank you for engaging in discussion.

[2017-01-18 23:26] drewsapp commented on #319
I'm having the same issue, how did you fix this?

[2017-01-19 06:38] chance-an commented on #241
@villetou I have to let you know that you are actually super awesome!!!

[2017-01-19 08:41] Calvin92 commented on #241
@villetou Nice,  good job!!!

[2017-01-19 10:50] philjoseph opened #457 "Thumbnail uri for the camera roll"
I do not find in the response object anyway to display the video thumbnail.I've just found out that [Aakash Sigdel](http://stackoverflow.com/users/1924443/aakash-sigdel) is suggesting that this is doable. Any idea?

[2017-01-19 18:17] kill4food opened #458 "Android image paths"
Is there a way to select images that are not located in the gallery?
for example downloaded images

[2017-01-22 15:46] qq326646683 commented on #453
"react-native": "^0.40.0","react-native-image-picker": "^0.25.1",don't work....

[2017-01-22 18:13] Gys commented on #438
@marcshilling

Yes, this is more or less in the readme
But there are two Info.plist files in a react native project, so I think its useful to mention which one.
Plus an example of how to add them; to me as a non-Apple programmer it was not clear what to make of 'Add the NSPhotoLibraryUsageDescription, NSCameraUsageDescription, and NSMicrophoneUsageDescription (if allowing video) keys'. Took me a m

[2017-01-22 19:44] jameskhamil opened #459 "[Question] Disable crop?"
Is it possible to disable the cropper in both platforms? Docs don't say if this is supported.

I see that in iOS, this is defined by props, but does android support?:

https://github.com/marcshilling/react-native-image-picker/blob/8f0aff1edb517f0cfbfff367809c18c1364ad8a8/ios/ImagePickerManager.m#L294

This seem like a good package to use for custom crop: https://github.com/stoffern/react-native-im

[2017-01-22 21:34] marcshilling commented on #459
Set `allowsEditing: false` in your options. The cropping is only available on iOS, the feature was removed from Android.

[2017-01-23 02:49] rogerluo410 commented on #319
@drewsapp

Hi,  you need to include the library into your project first,

[2017-01-23 23:25] avishayil commented on #454
That Google plus warning thing is coming from the `react-native-share` library, which is now not necessary anymore since `Share` is now integrated into react native itself.

[2017-01-25 17:15] jhellman commented on #455
@hubertwang I'm dealing with the same issue - have you found a solution?

[2017-01-25 18:58] jhellman commented on #455
Huh, not sure how I didn't notice the podspec before, but adding this library to my non react-native-cli app using Cocoapods via the included podspec solved my problem.  Might be worth an update to the readme to address using cocoapods for installation on iOS.

[2017-01-29 05:35] safi-manar commented on #453
I'm also getting this error. I have:

[code]

Any news or luck with this?

[2017-01-29 09:00] safi-manar opened #460 "Exception 'Actions added to UIAlertController must have a title' was thrown while invoking showImagePicker"
Hello,
I'm trying to use ImagePickerManager. When I try to call `showImagePicker()`, I get the following exception:

[code]

I'm not sure why this is. I provide a title. When I set the options to empty `{}`, the same error is thrown, but with an empty bracket.

Additionally, if I opt to use `ImagePicker.launchCamera()`, the app crashes when pressing the button.

Dependencies:
[code]

Any ideas?

[2017-01-29 09:01] safi-manar commented on #460
![screen shot 2017-01-29 at 12 50 52 am](https://cloud.githubusercontent.com/assets/16773027/22402969/65bee334-e5be-11e6-89ba-692a45124477.png)

[2017-01-29 17:26] marcshilling commented on #460
Can I see the `options` object you are passing to the ImagePicker function call?

[2017-01-29 21:32] safi-manar commented on #460
Of course!

[code]

I also tried:

[code]

[2017-01-30 14:51] marcshilling commented on #460
Well, you should not be accessing `NativeModules.ImagePickerManager` directly. You should be doing `var ImagePicker = require('react-native-image-picker');` and using that. The reason it's crashing is because you aren't providing values for `cancelButtonTitle`, `takePhotoButtonTitle`, or `chooseFromLibraryButtonTitle`. If you want to keep using the Native Module, just provide those keys in your op

[2017-01-30 20:44] jpapillon commented on #455
Is there a way to fix this without using the pod for this library? There must be some include settings somewhere that I just can't find.

[2017-02-01 03:52] safi-manar commented on #460
Wow, great! That fixed it, thanks so much.

You're welcome to close the issue now, but I'm new to React-Native so if you have the time, I'd appreciate it if you could explain just a couple points of confusion!

1. What was the difference between using it directly and the `require` syntax? I've had to use that syntax for a couple of other modules, but I haven't understood exactly the purpose.
2. Fo

[2017-02-01 04:51] safi-manar opened #463 "Questions on Image Resizing"
Is there any more documentation on how the image resizing works?

If not, could someone explain these:

1. Just to clarify maxWidth and maxHeight automatically resize an image, for both iOS/Android. Correct assumption?
3. If `maxWidth = maxHeight = n` but for some image, the dimensions are `a x b`, is the image resized to `nxn` or are the proportions kept?
4. Suppose I provide some maxWidth and ma

[2017-02-01 19:09] agrass commented on #155
Same problem:
[code]

[2017-02-02 03:49] arhmnsh commented on #378
Comments are umm...

Anyhow, on iOS, after linking with `react-native link`, make sure to add `NSPhotoLibraryUsageDescription`, `NSCameraUsageDescription` and `NSMicrophoneUsageDescription` as strings in your Info.plist file.
as described in the 4th step of manual configuration for iOS

[2017-02-03 03:00] hubertwang commented on #455
@jhellman I haven't found any solution to this issue yet. Thanks for your update, I'll give it a try.

[2017-02-03 03:32] hygkui commented on #451
Please use English!
Thanks so much.

[2017-02-05 17:34] marcshilling commented on #460
1. The require syntax is including the JavaScript wrapper class (you can view it here: https://github.com/marcshilling/react-native-image-picker/blob/master/index.js). As you can see, then the JavaScript code deals with interacting with the Native Module. Not everyone designs their Native Modules like this, but this allows me to specify default options.

2. It doesn't really matter, but typically

[2017-02-05 17:34] #460 closed

[2017-02-05 17:35] #459 closed

[2017-02-05 17:35] marcshilling commented on #457
I'm not sure how to do this off the top of my head. Would accept a PR.

[2017-02-07 18:11] tedjames commented on #438
Hey @marcshilling, @Gys has got a solid point. I had no idea what to do and had to refer to this issue for help.

[2017-02-08 02:28] #441 closed

[2017-02-08 02:29] marcshilling commented on #442
Everything working fine for me on iOS. Can you provide more detail about your issue?

[2017-02-08 02:29] #448 closed

[2017-02-08 02:29] #451 closed

[2017-02-08 02:30] marcshilling commented on #453
The example project runs fine. I'd recommend comparing your project to that.

[2017-02-08 02:30] #453 closed

[2017-02-08 02:31] marcshilling commented on #455
As far as I know, this is out of my control. Can you take this issue to either the React Native repo or Cocoapods, or provide me with some direction of what I'm not doing correctly here?

[2017-02-08 02:33] marcshilling commented on #463
1. Yes
2. Proportions should be kept
3. Not currently
4. Quality simply changes the photo compression. 0.0 (worst quality) to 1.0 (best)

[2017-02-08 02:33] #463 closed

[2017-02-08 18:43] ksarna commented on #442
@jackjunjiang make sure you did the following.

That was causing crash for me.

[2017-02-09 00:21] vivekparekh8 opened #466 "0.25.1 iOS - Crash Autorotate - Tablet . - iPad Air 10.2"
PUUIAlbumListViewController shouldAutorotate] is returning YES

I open image picker in landscape mode and it crashes giving above exception

Please advice.

Thank you. @marcshilling

[2017-02-09 04:14] a805883237 opened #467 "React/RCTBridgeModule.h not found"
#import <React/RCTBridgeModule.h>
#import <UIKit/UIKit.h>

builds errors: 'React/RCTBridgeModule.h'file not found
And console Error :Unhandled JS Exception: Cannot read property 'showImagePicker' of undefined

console.log(ImagePicker)
result:{}     ，Nothing！

Help me please.

[2017-02-09 04:36] iamrutvik commented on #453
@eboomyl Bro, saved me from getting fired. It was already there while linking it. But still you have to add as a separate non-recursive entry.

[2017-02-09 06:45] nhatchimai111 opened #468 "Duplicate image in folder Pictures"
![duplicate image](https://cloud.githubusercontent.com/assets/13510054/22770034/a87451d2-eebf-11e6-9709-4f64d6a7315b.png)

When I take photo then react-native-image-picker will create folder with 2 images same.

[2017-02-09 08:19] skv-headless commented on #376
Will appreciate any feedback.

[2017-02-09 13:12] marcshilling commented on #467
Are you using React Native 0.40 or greater?

[2017-02-09 13:16] marcshilling commented on #466
Is portrait mode enabled for your app? Even if you are designing a landscape app, `UIImagePickerController` only supports portrait.

[2017-02-09 15:22] theLallanTop commented on #229
Hi,

,
it's work fine other device but not with Samsung galaxy tab, s3

[2017-02-09 17:53] rishiankush commented on #467
+1 getting same error for RN 0.39 version

[2017-02-09 18:04] marcshilling commented on #467
@rishiankush we now require RN 0.40. If you need to support 39, use a lower version of this library. Check the README

[2017-02-09 18:06] rishiankush commented on #467
@marcshilling let me update my project to RN 0.40 and check. thanks

[2017-02-10 00:01] atpunk opened #470 "CameraRoll pictures are rotated 90 degrees when saved"
iOS

Front camera is only correct when snapped with the device in Right orientation.

Rear camera is only correct when snapped with the device in Left orientation.

[2017-02-13 02:50] YangEricLiu commented on #241
@villetou thanks!!!

[2017-02-13 12:54] enieber commented on #457
It's is very cool to implementat in video response.

one example of implementation may be this:

[code]

[2017-02-13 14:02] luisfuertes opened #471 "Android: App restart on come back from take photo"
I am testing the app in a device with 1GB RAM and when app come back from take a photo, app restart.

How can i prevent the app is closed while i take the photo?

[2017-02-13 14:43] luisfuertes commented on #471
Ok, i had install react-native-image-picker v0.24.0 with rn v0.33.

When i downgrade to react-native-image-picker to 0.23.0, it works

[2017-02-14 04:16] rusfearuth commented on #471
Do you take a photo with max size?

[2017-02-14 08:19] luisfuertes commented on #471
Yes, this is my code:
[code]

[2017-02-14 20:52] chriskonstad opened #472 "Android: Choose from Library URI doesn't work after app re-launches"
On Android (Pixel XL, Android 7.1.1), I can save the URI from the popup dialog and use it to load images after the app re-launches later only if the URI is from the camera option. If I select a photo from my library, I can use that URI successfully until I re-launch the app, and then the URI doesn't load the image any more.

Allowed Permissions: Camera, Phone, Storage

Options used:
`    var img_o

[2017-02-14 20:52] chriskonstad commented on #472
This is with the latest version of this library

[2017-02-17 03:49] usergyt commented on #434
Meet the same problem, how to solve?

[2017-02-17 05:47] America-first-melon opened #473 "[Android] Cannot select picture"
Info:
  react-native --version
  react-native-cli: 2.0.1
  react-native: 0.39.2
   "react-native-image-picker": "^0.24.1",
![qq 20170217133812](https://cloud.githubusercontent.com/assets/21686182/23053832/0405242e-f517-11e6-8c8b-4b98fbfa0a14.png)

cannot console.log(response.data);

![454](https://cloud.githubusercontent.com/assets/21686182/23053921/8c22a160-f517-11e6-9cf0-0d841f9ec19c.gif)

[2017-02-17 05:56] America-first-melon commented on #473
Pardon me,where is the document referred to in the third step for android.

[2017-02-17 05:58] America-first-melon commented on #473
fixed it..

[2017-02-17 05:58] #473 closed

[2017-02-17 10:13] sondremare commented on #254
@marcshilling I have added support for ```waitUntilSaved``` for Android in PR https://github.com/marcshilling/react-native-image-picker/pull/474

[2017-02-17 16:28] ranjeev75 opened #475 "Deleting Images"
How would you be able to delete images that have been previously selected, or are they overwritten in the same location?

[2017-02-17 18:08] novotnej opened #476 "Take photo crashes on Android v16"
I noticed you changed the minimum SDK requirement to 19, but that doesn't really cut it - according to this there are still > 11% of users using v16, 17, 18 and that's quite a lot...

[https://developer.android.com/about/dashboards/index.html
](https://developer.android.com/about/dashboards/index.html)

I noticed choosing a picture from the SD card doesn't crash the app. Could you please just hide

[2017-02-17 18:17] marcshilling commented on #476
@rusfearuth is there no way to support SDK 16 and 7.0?

[2017-02-17 21:55] acomito commented on #415
did you ever get this fixed @varun-raj

[2017-02-17 21:56] DiegoGallegos4 commented on #415
@acomito did you restart the npm server?

[2017-02-17 22:03] acomito commented on #415
@DiegoGallegos4 I just restarted now but still no luck. I see this in terminal:

[code]

[2017-02-17 22:26] DiegoGallegos4 commented on #415
Have you linked the project with `react-native link`? If you have, make sure the library is linked. Go to Xcode and check under Build Phases -> Link with libraries to make sure its there. Close all the simulator and stop the npm server and reinstall it, link it before running `react-native run-ios` or `npm start`

[2017-02-18 03:47] rusfearuth commented on #476
@marcshilling I'll checkout it today.

[2017-02-18 08:37] rusfearuth commented on #476
@marcshilling You can move back API version to 16. It'll work fine. I've tested this case.

[2017-02-18 15:23] rusfearuth commented on #472
Please check latest version of library. It should work fine.

[2017-02-18 15:26] rusfearuth commented on #471
If I remember right, I saw that library rotates image by means rotating bitmap. It is potential please for OOM.
I can check it tomorrow.

[2017-02-18 15:30] rusfearuth commented on #471
The ram size doesn't meter. Android gives some memory limit for run app. If you don't think about memory limit, you'll get problem with OOM or something like this.

[2017-02-18 16:18] marcshilling commented on #476
I've set `minSdkVersion` back to 16 in `v0.25.5` on npm. Sorry about that!

[2017-02-18 16:18] #476 closed

[2017-02-19 11:32] rusfearuth commented on #471
Hmm... There is fine... but might be able crash. I think what I can do for fix this bug and will send PR.

[2017-02-20 05:55] oillamp opened #477 "[ios] open 'moment' on real phone will crash"
everytimes select the moment photo album，it will can open and then will crash after a second.

on simulator is ok, but on the real phone will crash.

[code]

[code]

[2017-02-20 05:59] oillamp commented on #477
and other thing is ok, just only can not select the pic from 'moment' album.

[2017-02-20 08:35] skv-headless opened #478 "Consistent permission denied behavior between iOS and android"
**ios will call callback**
https://github.com/marcshilling/react-native-image-picker/blob/master/ios/ImagePickerManager.m#L203

**but android will not**
https://github.com/marcshilling/react-native-image-picker/blob/master/android/src/main/java/com/imagepicker/ImagePickerModule.java#L258

I can make PR but it may break someone's code.

[2017-02-21 02:25] hubertwang commented on #455
@marcshilling Our team haven't started to fix this issue yet. I'll let you know if we got any clue to fix this issue.

[2017-02-21 09:17] oillamp commented on #477
[update] it is a strange question, after some check, found is not the component problem,  the reason is my project import NSDictionary+NilSafe.h/NSDictionary+NilSafe.m , and after remove it, every thing be ok.
do not know why.

[2017-02-21 09:17] #477 closed

[2017-02-21 11:46] oillamp commented on #455
the same issue in rn 0.41

[2017-02-22 13:58] bilalkosker opened #480 "Change camera and photo library language needed"
Change camera and photo library language needed for multilanguage app

[2017-02-22 15:47] marcshilling commented on #480
The options `title`, `cancelButtonTitle`, `takePhotoButtonTitle`, and `takePhotoButtonTitle` allow you to customize the text. Is this sufficient?

[2017-02-22 15:59] rusfearuth commented on #478
I see. Will be fixed this week.

[2017-02-22 16:02] rusfearuth commented on #472
@chriskonstad Could you check this bug with latest version (0.25.4)?

[2017-02-22 16:04] rusfearuth commented on #471
@luisfuertes Could you give more information about photo size?

[2017-02-22 16:14] luisfuertes commented on #471
@rusfearuth ofcourse:
My code:
Width: PixelRatio.getPixelSizeForLayoutSize(600)
Height: PixelRatio.getPixelSizeForLayoutSize(400)

In console log:
Width:  1200
Height:  800

[2017-02-22 16:59] weeravit opened #481 "0.25.5 Automatic Installation not work on Android"
I found problem can't open camera or gallery but I fixed.
If you can't open camera or gallery, you follow this step.

Add this step to AndroidManifest.xml
`<uses-permission android:name="android.permission.CAMERA" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>`

[2017-02-22 19:56] pseudorandumb commented on #455
Like @jhellman said, adding via the podfile rather than 'react-native link' worked for me.
In my podfile:
[code]
I'm using:
react-native: 42.0-rc.2 (also tried 41.0)
react-native-image-picker: 0.25.5

[2017-02-22 22:17] fostertime commented on #470
Having the same issue.

[2017-02-23 01:46] rusfearuth commented on #481
@weeravit G'day mate!

Thanks for reporting, but it's not a problem. You can see from readme you need to add the next lines of code
[code]
to your `project/android/app/src/main/AndroidManifest.xml` file.

[2017-02-23 02:29] rusfearuth commented on #471
@luisfuertes and could you give information about taken photo? I mean how many Mb and etc.

[2017-02-23 14:24] e-rasvet opened #482 "Running react-native app on iPad, file no found error"
When I run app with virtual iPhone 7 plus, I have no any issue, but when I try to run it with my device Ipad, I get this error:

"ART React/RCTViewManager.h file not found ARTNodeManager.h"

https://yadi.sk/i/NXqsXKe53ENf46

How to fix it?

[2017-02-23 15:10] #481 closed

[2017-02-23 19:00] mountainfirefly opened #483 "Warning: setState(...): Can only update a mounted or mounting component."
When I am clicking on the photo in the gallery then the app is getting relaunch and giving me the setState error.

react-native version: 0.41.2
react-native-image-picker: 0.25.5
testing on redmi android 5.1.1

code is this
[code]

[2017-02-24 05:16] marcshilling commented on #483
I'm pretty sure that's just a warning in React Native...but still worth investigating.

[2017-02-24 05:24] alexustinovsm commented on #475
@ranjeev75 for what?

[2017-02-24 05:24] rusfearuth commented on #475
@ranjeev75 for what?

[2017-02-24 08:05] manjeets12 opened #485 "latest version breaking on android with react-native 0.41.2"
I followed example and used following code, but it is just crashing  app as soon as I am clicking on use camera options on the other hand it is working perfectly when I am using select image from library.

 "dependencies": {
    "react": "15.4.2",
    "react-native": "0.41.2",
    "react-native-image-picker": "^0.25.5"
  },

[2017-02-24 09:46] pap5508 commented on #380
@marcshilling getting this error While select photo from Simulator gallery

`Feb 24 10:37:56 --- last message repeated 1 time ---
[Generic] Creating an image format with an unknown type is an error
*** ASL MESSAGE SIZE (25813666 bytes) EXCEEDED MAXIMIMUM SIZE (8192000 bytes) ***`

Package.json

"nativescript-imagepicker": "^2.5.1",

[2017-02-24 10:27] ranjeev75 commented on #475
So the `ur` in the response object shows where an image has been stored:

`uri: content://media/external/images/media/2715`

When selecting another image will the above persist or is it deleted/ overwritten?

If  not what's the optimal way to delete the current image?

[2017-02-24 11:21] rusfearuth commented on #485
@manjeets12 Could you give more information about crash? I mean logs from Android.

Did you add the next lines to the `android/app/src/main/AndroidManifest.xml`
[code]

[2017-02-24 11:36] manjeets12 commented on #485
Yes I have added those lines,
here is my code and errors image

![image](https://cloud.githubusercontent.com/assets/17762875/23302102/4f1f505a-fab3-11e6-87d9-30eb03ae255c.png)

[2017-02-24 12:19] #482 closed

[2017-02-24 12:42] rusfearuth commented on #485
@manjeets12 What version of Android did you use for testing? Was it device or emulator? If it was emulator, will you write emulator params for repeating bug?

[2017-02-24 12:52] manjeets12 commented on #485
I am testing on my micromax mobile (android 5.1)

[2017-02-24 13:16] marcshilling commented on #380
This is just a warning correct? Everything still works?

[2017-02-24 13:28] rusfearuth commented on #485
Thanks.

[2017-02-24 14:51] rusfearuth commented on #485
@manjeets12 Do you use proguard in your Android project?

[2017-02-24 16:18] manjeets12 commented on #485
no I didn't , even I don't have a idea about that,

[2017-02-24 17:43] IkerArb commented on #463
The image size is returned in bytes @marcshilling ?

[2017-02-24 18:20] manjeets12 commented on #485
yes I just seen there is an autogenerated progaurd file

[2017-02-25 02:57] rusfearuth commented on #485
@manjeets12 please look at `android/app/build.gradle`. What does enableProguardInReleaseBuilds key value have? True or False?

[2017-02-25 03:04] manjeets12 commented on #485
@rusfearuth  actually it is false right as I am still working on development version, will set set to true for realease version

[2017-02-25 14:49] bobos commented on #480
But seems like "title", "cancelButtonTitle", "takePhotoButtonTitle" don't work with ImagePicker.launchCamera, or I did something?
var options ={quality: 1,
                       maxWidth: 800,
                       maxHeight: 800,
                       takePhotoButtonTitle: "some text",
                       cancelButtonTitle: "some text",
                       mediaType: 'photo',

[2017-02-25 14:52] marcshilling commented on #480
That's out of my control. You need to set localization settings in your Xcode project. See this link: http://stackoverflow.com/questions/8258391/how-do-i-localize-uiimagepickercontroller

[2017-02-25 14:54] bobos commented on #480
thx, I will have a try :)

[2017-02-25 15:41] rusfearuth commented on #471
@luisfuertes is it possible to get logcat output?

[2017-02-26 01:26] dsvictor94 commented on #485
Same problem here, but with react-native version 0.40.0

I am testing with android 5.1 too.
I will came back as soon as test with another device.

OBS:
launchImageLibrary works without problems, the error appear when I call launchCamera

[2017-02-26 02:55] dsvictor94 commented on #485
I notice that the provider authorities generated by gradle disagree with authority requested by code

The gradle replaced `android:authorities="${applicationId}.provider"` with `android:authorities="com.imagepicker.provider"` instead of the final applicationId.

Apparently this is a gradle bug, but for fast fix I replaced ${applicationId} with my aplication id in `node_modules/react-native-image-p

[2017-02-26 04:45] dsvictor94 commented on #485
To avoid edit react-native-image-picker source I edit my manifest and added:
[code]
play attention to the addition of namespace tools on line 2

this force gradle use your definition of provider instead of the definition of react-native-image-picker.

[2017-02-26 06:22] rusfearuth commented on #485
@dsvictor94 👍 Going to make fix

[2017-02-26 12:54] moerabaya opened #487 "Crashes on RN 0.40"
The app crashes when importing from the library, also the following error show up when using the camera.

<img width="1512" alt="screen shot 1438-05-29 at 2 52 20 pm" src="https://cloud.githubusercontent.com/assets/12199727/23339836/488d7a2e-fc33-11e6-925a-d2b900e8d7a7.png">

[2017-02-26 17:52] dsvictor94 commented on #485
Sorry, I installed the master branch to teste if the commit solve the problem I it just added this warning

[code]
and nothing solved, the merged manifest remains incorrect

[code]

I think I was misunderstood in my last comment (probably because of my poor English), the workaround  must be applied to the main manifest (the same you add permissions), not in the library manifest.

I thing there are

[2017-02-26 17:55] marcshilling commented on #485
@rusfearuth ^ seems like we should roll back this commit

[2017-02-27 01:11] rusfearuth commented on #485
@marcshilling Yeah... I think too and look better solution.

[2017-02-27 02:56] rusfearuth commented on #485
@dsvictor94 Have you changed android section in your app gradle build file?

[2017-02-27 05:53] temitope commented on #463
@marcshilling great module. thank you! i didnt realize it resized with those dimensions. and it keeps proportions! thats amazeballs

[2017-02-27 11:20] hoavo commented on #485
bug still on lastest version 0.25.7 (my device : android 4.4.2).
Crash on Camera option.
Debug log :
"02-27 18:18:19.858 29125-29172/com.ezeesell W/ContextImpl: Failed to ensure directory: /storage/extSdCard/Android/data/com.ezeesell/files/Pictures"

[2017-02-27 12:17] rusfearuth commented on #485
@hoavo It seems that catalog wasn't created

[2017-02-27 12:35] dsvictor94 commented on #485
I think nobody have change the build.gradle file, but if it helps

[build.gradle.txt](https://github.com/marcshilling/react-native-image-picker/files/803619/build.gradle.txt)

[2017-02-27 13:02] rusfearuth commented on #485
@dsvictor94 I've changed )

[2017-02-27 13:04] rusfearuth commented on #485
@dsvictor94 Okey, I'm going to create test project with using settings like yours.

[2017-02-27 18:54] cjb commented on #487
Same crash here on RN 0.41.2.

[2017-02-27 20:47] cjb commented on #487
Ah, fixed it -- the lack of a NSPhotoLibraryUsageDescription entry in Info.plist causes the SIGABRT crash for me.  I bet that's your problem too.

[2017-02-27 20:56] marcshilling commented on #487
This is mentioned in the README ^

@moerabaya can you confirm if that fixes it?

[2017-02-28 09:35] AdrianZghibarta opened #488 "[Android] onActivityResult not called"
On Android `onActivityResult()` is not called, and as result the success callback is not received.
`currentActivity.startActivityForResult(libraryIntent, requestCode);` is called, I've checked that.

That's my android manifest :
'
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sacados"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission

[2017-02-28 09:48] khalidahmada commented on #31
@alvaromb Please what is boundary sorry about this stupid question.

[2017-02-28 09:51] alvaromb commented on #31
@khalidahmada http://stackoverflow.com/questions/3508338/what-is-the-boundary-in-multipart-form-data

[2017-02-28 12:19] AdrianZghibarta commented on #488
Sorry guys, it's my fault. I've installed another package to send sms, and in install instructions of that package was told to modify MainApplication class:
'
@Override
public void onActivityResult(int requestCode, int resultCode, Intent data) {
        SendSMSPackage.getInstance().onActivityResult(requestCode, resultCode, data);
}
'

And of course in that case the image picker library will not wo

[2017-02-28 12:19] #488 closed

[2017-02-28 12:38] moerabaya commented on #487
Yes @marcshilling I confirm that was the issue, thank you @cjb.

[2017-02-28 12:38] #487 closed

[2017-02-28 16:33] marcshilling commented on #487
@cjb I thought that it showed a warning in the console. There's nothing really that we can do to change the error, but yes I can clarify the symptoms more in the README.

[2017-02-28 18:32] rusfearuth commented on #485
@manjeets12 and @dsvictor94

Could you check `android/build.gradle`?

[code]
if it's lower, you will need to update it to `2.2.+`

Then you should update `android/gradle/wrapper/gradle-wrapper.properties` to

[code]

And try again.

Waiting for your report )

[2017-02-28 18:32] cjb commented on #487
Thanks!  Didn't notice anything in the console, but perhaps I missed it.

[2017-02-28 18:50] rusfearuth commented on #485
@hoavo Did crash happen after you confirm of taken photo?

[2017-02-28 19:27] sfratini opened #489 "Base64 data string wrong in response"
I don't know why this is happening but using the emulator I get the wrong base64 data from any image. It seems I get only the first portion and not the full string. I am showing the response in the debugger and using the same string to decode it and it shows a corrupted image.

Any clue why this could happen? I am converting the image (any image) to base64 and I get a very different base64 string.

[2017-02-28 19:57] sfratini commented on #489
Nevermind, the issue is the react native logger which truncates the values to 10.000 characters. Silly mistake.

[2017-02-28 19:57] #489 closed

[2017-02-28 21:20] BigPun86 commented on #455
@pseudorandumb Shoudn´t it be `pod 'react-native-image-picker', :path => '../node_modules/react-native-image-picker'`?

[2017-03-01 00:34] dsvictor94 commented on #485
I am without a device now, but I build and inspect de manifest and apparently solves the problem.
Sorry when I said the my gradle version is 2.14.1, I saw the gradle version to the wrong project. It was 2.4.

[2017-03-01 00:49] pseudorandumb commented on #455
Yea @BigPun86 that may be more common for most people. My example works for me, needs to be adapted depending on your relative pathing to where the node_modules folder is located.

[2017-03-01 01:34] rusfearuth commented on #485
@dsvictor94 If I understand right, now is it fine?

[2017-03-01 01:38] dsvictor94 commented on #485
I can't make sure because because I am without a device, but yes, it's fine now.

[2017-03-01 03:29] pheromone opened #490 "When to support multiple picture?"
Is going to do pictures multiselect function?

[2017-03-01 04:52] rusfearuth commented on #490
@pheromone If you read `README.md`, you could see the next message at the beginning.

## Before you open an issue

This library started as a basic bridge of the native iOS image picker, and I want to keep it that way. As such, functionality beyond what the native UIImagePickerController supports will not be supported here. **Multiple image selection, more control over the crop tool, and landscape

[2017-03-01 05:49] #490 closed

[2017-03-01 11:04] skv-headless commented on #478
It happens when select `never ask again`.

[2017-03-02 01:02] dsvictor94 commented on #485
I tested today and upgrading the gradle (and de gradle plugin) solves the provider authorities problem. @rusfearuth, thanks a lot by your fast support

[2017-03-02 10:00] left-handed opened #492 "ShotPhotos, photos can not be displayed"
response.didCancelReturn,‘true’

[2017-03-02 10:37] ptomasroos commented on #478
Looking forward to that @rusfearuth !

[2017-03-02 11:16] rusfearuth commented on #478
@ptomasroos I'm going to make PR in the next 2 days. Everything is ready, but I need to test my solution.

[2017-03-02 11:20] ptomasroos commented on #478
Great!

[2017-03-02 11:59] joeyzhao0113 opened #493 "Failed to run react-native-image-picker on Android"
I am using `"react-native-image-picker": "^0.25.7"` on a react-native android app. I have followed the instruction to install the package as well as link the dependencies.  In my code, when I require this package as below:

`import ImagePicker from 'react-native-image-picker';`

I will get below error message. It seems that the `react-native-image-picker` doesn't exist. But I have run `npm install

[2017-03-02 12:06] joeyzhao0113 commented on #493
It turned out that this relates to react-native cache. Restart react-native process solve this issue.

[2017-03-02 12:06] #493 closed

[2017-03-02 12:50] N3TC4T opened #494 "[Solved] undefined ImagePicker.ShowImagePicker"
Hey

first of all I've read all same issues and no one solved my problem .

I'm just tried this steps:

- using "react-native link"
- adding required permissions in AndroidManifest.xml
- installing manualy by steps descriped in README
- restarting packager and removing app and recompiling

I've check everything (EVERYTHING) and seems all is ok but I got this error :

in my run-android command I ge

[2017-03-02 13:26] rusfearuth commented on #493
@joeyzhao0113 just reduce version to 0.25.6 and read https://github.com/marcshilling/react-native-image-picker/issues/485 this one.

[2017-03-02 17:17] rusfearuth commented on #494
@N3TC4T You should reduce `react-native-image-picker` package to `v0.25.6` and read this issue (https://github.com/marcshilling/react-native-image-picker/issues/485),

[2017-03-02 18:51] N3TC4T commented on #494
@rusfearuth  thanks for reply and good support

Unfortunately after upgrading gradle and gradle-wrapper , and also downgrading react-native-image-picket to v0.25.6 issues is stilll remaining .

need to send my gradle and other files for better debuggingg ?

[2017-03-02 18:59] N3TC4T commented on #494
build.gradle:

settings.gradle:

app/build.gradle:

AndroidManifest.xml :

MainApplication.java :

[2017-03-03 08:07] hoavo commented on #485
@rusfearuth Crash after capture a photo.
Thanks for your support

[2017-03-03 09:35] finch001 commented on #468
this happen to me  my device is android7.1.1

[2017-03-03 09:37] finch001 commented on #475
@ranjeev75 i think may be you need fs to delete by hand

[2017-03-03 09:50] ptomasroos opened #495 "When taking a photo with front camera the image is mirrored"
Happens both on Nexus 6P (6.0) and Samsung S6 (7.0)

[2017-03-03 11:02] skv-headless commented on #495
http://androidforums.com/threads/any-way-to-stop-front-facing-camera-from-mirroring-inverting-image.622351/#post-4998168
it is default front camera behaviour. I guess we can close it.

[2017-03-03 11:18] ptomasroos commented on #495
Wow, didnt know. I guess all major social networks have their own picker then.

[2017-03-03 11:18] #495 closed

[2017-03-03 11:48] rusfearuth commented on #485
@hoavo I found why crash happens. Your case described in #478.

[2017-03-03 11:48] rusfearuth commented on #478
[code]

[2017-03-03 20:58] ahsanazwar commented on #494
Same Issue

[2017-03-04 05:40] rusfearuth commented on #494
@N3TC4T Do you use proguard?

[2017-03-04 06:48] N3TC4T commented on #494
@rusfearuth Not really .

[2017-03-04 07:06] dsvictor94 commented on #494
make sure you are importing that way
`import ImagePicker from 'react-native-image-picker';`
and **not** that way
`import { ImagePicker } from 'react-native-image-picker';`

[2017-03-04 08:00] ahsanazwar commented on #494
I'am importing the same way you

[2017-03-04 11:18] ahsanazwar commented on #494
![error1](https://cloud.githubusercontent.com/assets/20488590/23578335/3f445bd2-00f6-11e7-92f1-7dffe5ea7d84.PNG)

[2017-03-04 12:02] rusfearuth commented on #494
@ahsanazwar Could you show `import` of library in `Upload.js` and `android/build.gradle`?

[2017-03-04 12:05] rusfearuth commented on #468
@finch001 Could you check where first and second photos store? I guess why it could happen.

[2017-03-04 12:13] ahsanazwar commented on #494
Upload.js:

import React ,{Component} from 'react'
import {
  StyleSheet,
  Text,
  View,
  PixelRatio,
  TouchableOpacity,
  Platform,
  Image,
  Alert
} from 'react-native'
import ImagePicker from 'react-native-image-picker';
var FileUpload = require('NativeModules').FileUpload;

export default class Upload extends Component {
  constructor(props){
    super(props);
    this.state = {
      avat

[2017-03-04 14:58] rusfearuth commented on #494
@ahsanazwar Are you sure that you have options when you call showImagePicker? I see problem in your code ( Could you check it?

[2017-03-04 15:02] ahsanazwar commented on #494
@rusfearuth what's the problem

[2017-03-04 15:06] rusfearuth commented on #494
I see that you create options as constant in scope of some method and call `showImagePicker` in another place.

[2017-03-04 18:41] N3TC4T commented on #494
@dsvictor94  Thanks , solved my problem .

@rusfearuth Thanks man :)

[2017-03-04 19:01] ahsanazwar commented on #494
I copy past the example code but still getting the same error @N3TC4T please guide me how did you solve

[2017-03-04 19:24] N3TC4T commented on #494
@ahsanazwar , as @rusfearuth  pointed in upper comments "You should reduce react-native-image-picker package to v0.25.6 and read this issue (#[485](https://github.com/marcshilling/react-native-image-picker/issues/485)), "

but in my case importing was the problem .

[2017-03-04 20:54] #467 closed

[2017-03-04 20:54] #480 closed

[2017-03-04 20:55] marcshilling commented on #492
I don't understand. Can you provide more info?

[2017-03-04 20:55] marcshilling commented on #478
@rusfearuth good to close this now?

[2017-03-04 22:32] dsvictor94 commented on #494
@ahsanazwar can you edit your comment with the code and past it formatted as code (maybe in a gist)?
but anyway, your error message is a little different than N3TC4T error.
Basicly its is showing that it could not load the native module.

Make sure you run `react-native link`, rebuild the apk and restart the server

If it not work, post your `android/app/src/main/java/com/[APP_NAME]/MainApplicatio

[2017-03-05 02:03] novotnej commented on #494
Similar problem here, but works fine in debug. However building release version fails at

Execution failed for task ':app:processReleaseResources'

with

android/app/src/main/AndroidManifest.xml:13:9-22:20 Warning:
provider#android.support.v4.content.FileProvider@android:authorities was tagged at AndroidManifest.xml:13 to replace other declarations but no other declaration present

Tried with reac

[2017-03-05 02:34] dsvictor94 commented on #494
@novotnej this #497 should solve this warning, but this should not crash the app. Can you post the error?

[2017-03-05 02:42] novotnej commented on #494
Yep I just edited the comment, the crash is coming from react-native issue itself
[https://github.com/facebook/react-native/issues/5787](https://github.com/facebook/react-native/issues/5787)

[2017-03-05 02:51] rusfearuth commented on #478
I think yes.
вс, 5 марта 2017 г. в 3:55, Marc Shilling <notifications@github.com>:

[2017-03-05 03:11] alexustinovsm opened #498 "Warning on building release"
When you build release, you can see the next warning from gradle log:

[code]

[2017-03-05 03:11] #498 closed

[2017-03-05 03:12] rusfearuth opened #499 "Warning on building release"
When you build release, you can see the next warning from gradle log:

[code]

[2017-03-05 03:13] rusfearuth commented on #485
@dsvictor94 @manjeets12 I think we can close this issue. Do you?

[2017-03-05 03:15] #499 closed

[2017-03-05 03:47] dsvictor94 commented on #498
This #497 solves this warning. It was merged at master, I think it will available in the net release, but for now you can ignore this warning.

[2017-03-05 08:10] manjeets12 commented on #485
@rusfearuth I will confirm it soon,

[2017-03-06 00:18] IvanCaceres1 commented on #471
Hello.

I'm using react native 0.42.0 (latest) with react 15.4.2 (latest) and react-native-image-picker 0.26.0 and i'm  experimenting the same issue but only when the app open first time.

regards.

[2017-03-06 02:50] cjl-df commented on #451
thank you very much. this problem have been sovled.  it is juset beacause the version of component of react-native and react-native-image-picker. also thanks a lot.

[2017-03-06 07:49] tanaka0x commented on #485
My device(SO-01F - 4.4.2) crashed by FileProvider issue.
Both build.gradle and gradle-wrapper.properties are following above codes.
But I found react-native-image-crop-picker working on using camera.
So I changed the line in ImagePickerModule like react-native-image-crop-picker.
Now it seems to me working, but I don't know why it works.

[code]

[2017-03-06 13:05] finch001 commented on #468
it seem that Duplicate image all store in /storage/emulated/0/Android/data/com.photodemo/files/Pictures @rusfearuth

[2017-03-06 13:17] left-handed commented on #492
Start Camera photographs taken can not upload。

------------------ 原始邮件 ------------------
发件人: "Marc Shilling";<notifications@github.com>;
发送时间: 2017年3月5日(星期天) 凌晨4:55
收件人: "marcshilling/react-native-image-picker"<react-native-image-picker@noreply.github.com>;
抄送: "澤 。"<928231861@qq.com>; "Author"<author@noreply.github.com>;
主题: Re: [marcshilling/react-native-image-picker] ShotPhotos, photos canno

[2017-03-07 06:32] #494 closed

[2017-03-08 18:06] rusfearuth commented on #485
@tanaka0x Could you check a new version?

[2017-03-08 18:45] Jpoliachik commented on #382
In case others run into this issue, I was getting the same error as @thomasvm above ^, while running react-native 0.37.0 and developing my own Android custom component.

Turns out, I had an old version of `react-native-image-picker` still installed (not being utilized), but for some reason, `onActivityResult` in my Custom Component was being called from the old react-native version that `react-nat

[2017-03-08 19:17] #475 closed

[2017-03-09 00:18] tanaka0x commented on #485
@rusfearuth I tried 0.26.1 with RN 0.42, it can take a photo using camera.
I think this issue was fixed in my case.
However sometimes another problem occured I think it is related to #471

[2017-03-09 00:38] tanaka0x commented on #471
Sometimes I faced same issue with react-native-image-picker 0.26.1
I tried to find the cause from logcat, but I have not found it.

[logcat_when_restared.txt](https://github.com/marcshilling/react-native-image-picker/files/829340/logcat_when_restared.txt)

[code]

[2017-03-09 01:49] #485 closed

[2017-03-09 09:07] anahitsk123 opened #502 "Unmet dependancy issue for rn0.40"
Hi,

I just installed the latest version and it was supposed to work with >=RN0.40.
I have exactly RN0.40 installed and after installation is finished, it shows 'UNMET PEER DEPENDENCY react-native@0.40.0'.

[2017-03-09 12:43] rusfearuth commented on #502
Will be fixed in the nex pr.

[2017-03-10 04:42] chencong-hakka opened #503 "Add a option that can pick multiple images，Please?"
how do u think if add a option that can pick multiple images?

[2017-03-10 06:34] #503 closed

[2017-03-10 08:09] Style-Tender opened #505 "Fail to link react-native-image-picker"
I Integrated React Native into an original android project,and using 'react-native-image-picker@0.26.1' on it. When i carry out 'react-native link', the terminal return 'Scanning 438 folders for symlinks in /Users/densakai/Documents/ESPWorkspace/node_modules (3ms)'. How can i solve it?

[2017-03-10 08:25] rusfearuth commented on #505
@Style-Tender  tried to remove key `peerDependencies` from `node_modules/react-native-image-picker/package.json`.

[2017-03-10 08:39] Style-Tender commented on #505
@rusfearuth thank you so much,I remove key 'peerDependencies'from `node_modules/react-native-image-picker/package.json`,but it does't work seemingly.

[2017-03-10 09:02] rusfearuth commented on #505
@Style-Tender Could you give me some logs from `react-native link`?

[2017-03-10 09:17] Style-Tender commented on #505
@rusfearuth  Here is the logs in my  terminal
[code]

[2017-03-10 17:47] rusfearuth commented on #502
@anahitsk123 Could you checkout with v0.26.2?

[2017-03-10 20:54] cooperka opened #507 "Example app crashes when choosing from library [iOS]"
The example app crashes on iOS after the callback when choosing an image from your library.

Important parts: `unrecognized selector [ImagePickerManager imagePickerController:didFinishPickingMediaWithInfo:]`

Full crash log:

[code]

Tested on latest master (62cf9edbde45240a75b45c789042c9db488c6b76) using an iPhone 6s simulator.

[2017-03-10 21:03] cooperka opened #508 "Image doesn't appear in gallery after saving [Android]"
When setting `storageOptions: {}` (such as in the example app), the docs say "the image will get saved in ... the Pictures directory on Android". I think it used to do this, but no longer.

Repro steps:

1. Run the example app on Android
2. Take a picture
3. Check your gallery app, it's not there
4. Check your Pictures folder, it's not there either

Tested on a Nexus 5X 6.0 emulator (using latest

[2017-03-10 21:46] marcshilling commented on #508
@rusfearuth did your refactor break this?

[2017-03-10 21:49] marcshilling commented on #507
I just pulled master and was able to choose an image using the Example project with no crash.

[2017-03-10 22:43] cooperka commented on #507
Hmm I'll debug some more and update this soon! (probably after the weekend)

[2017-03-10 22:43] #507 closed

[2017-03-11 05:50] just4fun opened #509 "Does this library compress image quality by default?"
I did some tests on this library and [react-native-image-crop-picker](https://github.com/ivpusic/react-native-image-crop-picker) with iOS simulator.

If I select first default image in iOS simulator, this library will get,

fileSize: 314945
height: 2848
width: 4288

while `react-native-image-crop-picker` will get,

size: 6209998
height: 2848
width: 4288

I'm not sure what is the size of original i

[2017-03-11 06:20] just4fun commented on #509
I found there is `quality` to be used by `UIImageJPEGRepresentation`, so what is the default value of `quality`?

[2017-03-11 07:54] rusfearuth commented on #508
@cooperka Does it left in photo apps or in Photo directory?

[2017-03-11 22:35] cooperka commented on #508
@rusfearuth the image isn't saved in the Pictures directory, and it doesn't show up in the Gallery app. Is that what you mean?

[2017-03-11 23:10] quangas opened #510 "Base64 to Blob"
Is there anyway we can convert the base64 image from response.data to a bytes/blob?

[2017-03-12 04:55] rusfearuth commented on #508
@cooperka Photos are saved to /external_storage/Android/your_package_name/files/Pictures.

I see     MediaScannerConnection.scanFile doesn't work properly.

[2017-03-12 06:55] rishiankush commented on #438
Can anyone please tell me the steps to add NSPhotoLibraryUsageDescription, NSCameraUsageDescription, and NSMicrophoneUsageDescription to the info.plist file?

[2017-03-12 16:34] marcshilling commented on #438
@rishiankush your Xcode project contains a file `Info.plist`. This is a simple key-value store. You just need to add the keys `NSPhotoLibraryUsageDescription`, etc, with a string value that you want displayed to the user for why you are requesting that permission. For example:
`NSPhotoLibraryUsageDescription` : `"We need access to your photo library so that we can select photos"`

[2017-03-12 16:36] marcshilling commented on #509
The maximum value is 1.0, which is the default. If you don't want any compression I would suggest passing the `imageFileType: 'png'` option.

[2017-03-12 16:37] marcshilling commented on #505
@Style-Tender apart from the string that it is outputting, was the link successful? It's likely nothing to worry about if it works regardless..

[2017-03-12 16:38] #492 closed

[2017-03-12 16:39] #466 closed

[2017-03-12 16:40] marcshilling commented on #254
Can someone confirm if this is still happening in the latest version on npm? There was a big Android rewrite recently.

[2017-03-12 20:53] cooperka commented on #508
Hmm, so are they supposed to be saved to the public location but they aren't? To me, "Pictures" means the public folder at the root of /sdcard/Pictures, not a private folder within your app's sandbox. I just want to make sure I understand.

[2017-03-13 00:31] rusfearuth commented on #508
@cooperka Why `sandbox`? It depends on cases. If you need only to take and upload photo and you don't want to see it in your gallery, it'll be fine. If you want to save photo to Picture after app will be removed (your case), It'll be better to save in public Picture.

I think you need to read [this](https://developer.android.com/about/versions/nougat/android-7.0-changes.html). Now, app `sandbox` f

[2017-03-13 00:54] cooperka commented on #508
Sorry for the confusion; I just meant sandbox [generically](https://en.wikipedia.org/wiki/Sandbox_(computer_security)), not the Android-specific folder.

My desire is to take a photo using `react-native-image-picker` and have that photo automatically show up in any standard "gallery" type app so the user can find it later. In most cases that means saving the photo under `DCIM/` or `Pictures/` at t

[2017-03-13 01:23] Style-Tender commented on #505
@marcshilling May be it has linked successfully. Because that I Integrated React Native into an original android project,and my Activity `extends Activity implements DefaultHardwareBackBtnHandler`,I add the import `com.imagepicker.permissions.OnImagePickerPermissionsCallback` and `com.facebook.react.modules.core.PermissionListener`,then add the implements `OnImagePickerPermissionsCallback`,finally

[2017-03-13 01:31] rishiankush commented on #438
Yes I did it, I am using Xcoce 8.2 and I just added the key `Privacy - Photo Library Usage Description` inside the `Info.plist` and it worked fine. Thanks @marcshilling

[2017-03-13 01:42] rusfearuth commented on #508
@cooperka No problems. You can do PR for update documentation if you want.
Later it'll be updated.

[2017-03-13 03:16] rusfearuth commented on #505
@Style-Tender Hm.. It I understand right, you added React Native to exist native project. Right?

[2017-03-13 05:36] Style-Tender commented on #505
@rusfearuth Yes.

[2017-03-13 08:28] just4fun commented on #509
@marcshilling ah OK, I think it's good.
Thank you.

[2017-03-13 08:28] #509 closed

[2017-03-13 18:40] cooperka commented on #508
@rusfearuth we're actually going to prioritize this feature for our app. Have you already started working on the changes? If not, I'd be happy to do it instead. Let me know what you prefer :)

[2017-03-13 21:24] anahitsk123 commented on #502
Yes, it si fixed now. Thanks

[2017-03-14 00:16] #502 closed

[2017-03-14 02:37] rusfearuth commented on #508
@cooperka I've already started working for this task.

[2017-03-14 02:49] cooperka commented on #508
Great! I'll use a workaround for now and wait for your changes.

[2017-03-14 07:40] dannyyaou commented on #458
Is there any situation that the downloaded images not int the gallery?

[2017-03-14 08:07] dannyyaou commented on #240
Hello Guys
My app has the same issue even now with react-native-image-picker 0.25.1
How can I solve this problem please~

[2017-03-14 08:12] dannyyaou opened #512 "Images submitted by android seem to be lower quality"
Hello Guys
My app has the same issue below with react-native-image-picker 0.25.1
How can I solve this problem please~
Or how can i help to solve this problem?
https://github.com/marcshilling/react-native-image-picker/issues/240#issuecomment-227770305

[2017-03-14 10:14] rusfearuth commented on #508
@cooperka Could you check it out from bugfix/508 branch?

[2017-03-14 17:03] pheye commented on #442
react-native: 0.41.2
react-native-image-picker: 0.26.2
xcode 8.2.1

I met the similar problem on ios, after pick photo from the photo library, it always get "`Can't find variable:response`" error.Then I tried to click the cancel button, the same error,too.Last, I tried
to rename callback parameter name and result in the same error.So I guess it must stuck somewhere in the module itself.

[code]

f

[2017-03-14 18:05] marcshilling commented on #442
@pheye the Example project works fine without using `ImagePickerManager` directly, so I'm not sure what you're doing wrong.

[2017-03-14 22:25] marcshilling commented on #508
I've added my feedback to #513.

The way we should make this work is by using the same option we use to accomplish this on iOS: `storageOptions.cameraRoll`. The way it works on iOS is as follows:
- If `storageOptions` key is provided, we store the image in the app's sandbox Documents folder (or a subfolder if `storageOptions.path` is provided.
- If `storageOptions.cameraRoll` is true, we also save

[2017-03-14 22:28] #478 closed

[2017-03-15 02:37] rusfearuth commented on #508
@marcshilling Unfortunately, I can't use `storageOptions.path` for Android 7 and higher. That's way, I pass this option.

Okey, If user adds empty `storageOptions` or doesn't add it at all, app will use own folder for saving taken photo. If user adds `storageOptions.cameraRoll = true`, photo will be saved to public folder.

Is it fine?

[2017-03-15 07:40] rusfearuth commented on #458
@dannyyaou Yeap. When you choose it from Google Photos and it's missing on device.

[2017-03-15 07:40] rusfearuth commented on #458
@kill4food Do you have any questions?

[2017-03-16 06:15] booboothefool commented on #311
Today I learned you can't do this:

**android/build.gradle**
[code]

gotta split up the maven stuff (I didn't even know what maven was)
[code]

[2017-03-16 07:58] birdgg opened #514 "fileSize is bigger than actual"
I have a image which size is 1.5mb, but the fileSize from response is much bigger

![screen shot 2017-03-16 at 15 45 35](https://cloud.githubusercontent.com/assets/4584859/23986819/1cfaa850-0a61-11e7-9619-34e5717e56be.png)
![img_0300](https://cloud.githubusercontent.com/assets/4584859/23986837/3289a8a6-0a61-11e7-8289-92e22dbb2b7a.PNG)

[2017-03-16 17:08] talalmajali opened #515 "i cant open select from library after removing camera permission"
Hello,
Thank you for this great module,
But i'm facing an issue, i only need to access the library without camera, so i have only removed camera permission from AndroidManifest (WRITE_EXTERNAL_STORAGE still there), after that i couldn't manage to open the library,
and when i ignored these lines of code: ImagePickerModule:265
if (!permissionsCheck(currentActivity)) {
  return;
}
it worked,
any help

[2017-03-16 17:39] rusfearuth commented on #515
Hi. I see your case.
Year, you can use it like this.

Thank you. It'll be implemented in the next releases.

Please will not close this issue until it's done from my side.

[2017-03-17 02:58] luojinghui commented on #241
@villetou Nice, good job

[2017-03-17 03:18] chendongcd opened #517 "multiple choice"
multiple choice can be available?

[2017-03-17 03:46] rusfearuth commented on #517
@pheromone If you read `README.md`, you could see the next message at the beginning.

## Before you open an issue

This library started as a basic bridge of the native iOS image picker, and I want to keep it that way. As such, functionality beyond what the native UIImagePickerController supports will not be supported here. **Multiple image selection, more control over the crop tool, and landscape

[2017-03-17 07:58] RealAmissio opened #518 "after the android package name ,it console error type==null"
After I change the Android package name, when I send the data.uri to server will console error type==null ,please help me!

[2017-03-17 07:59] RealAmissio commented on #518
but the server has not received any requests,  and ios can

[2017-03-17 08:12] chendongcd commented on #517
OK ,i get u ,but it can not compress image in ios,maybe i used in a wrong way~

[2017-03-17 08:40] RealAmissio commented on #518
i have solved the problem thanks

[2017-03-17 08:41] #518 closed

[2017-03-18 02:18] joeyzhao0113 opened #519 "Can't get image source from callback parameter"
I am using below code to select images:

[code]

from the response in the callback, I don't know which option users select, `Camera` or `Choose from Library`

[2017-03-18 06:52] rusfearuth commented on #519
@joeyzhao0113 Hi! If you read [README.md](https://github.com/marcshilling/react-native-image-picker#directly-launching-the-camera-or-image-library), you could see the next paragraphs.

## Directly Launching the Camera or Image Library

To Launch the Camera or Image Library directly (skipping the alert dialog) you can do the following:

[code]

Note

On iOS, don't assume that the absolute uri retur

[2017-03-18 06:53] rusfearuth commented on #517
@chendongcd Could you create another task for the second problem?

[2017-03-18 06:53] #517 closed

[2017-03-18 21:06] zhaoyi0113 commented on #519
That means I need to use customised button and call image or camera directly from their callback. Right?

[2017-03-19 00:03] zhaoyi0113 opened #520 "How does image picker support Android for storage?"
I read the README about `storageOptions`. It says `storageOptions` is OK for both `Android` and `iOS` but none of its sub-options support `Android`. How can I use it on Android then?

[2017-03-19 02:17] rusfearuth commented on #519
@zhaoyi0113 Right

[2017-03-19 02:22] rusfearuth commented on #520
@zhaoyi0113 It's going to use only caneraRoll option. Look at [this](https://github.com/marcshilling/react-native-image-picker/pull/516) PR.

[2017-03-19 07:50] #520 closed

[2017-03-19 07:50] #519 closed

[2017-03-19 18:18] #508 closed

[2017-03-19 18:21] marcshilling commented on #510
You can do this yourself in JavaScript: See [here](http://stackoverflow.com/questions/16245767/creating-a-blob-from-a-base64-string-in-javascript). Not going to do this in our library because of the performance impact.

[2017-03-19 18:21] #510 closed

[2017-03-20 08:41] alexeypodolian opened #521 "Update Android build tools version"
Android Studio 2.3 requires build tools version 25.0.0 or higher

[2017-03-21 07:05] gzfgeh opened #522 "undefined is not an object(evaluating 'ImagePickerManager.showImagePicker'"
"react": "^15.4.2",
    "react-native": "^0.42.0",
    "react-native-image-picker": "^0.24.1"

[2017-03-21 07:10] gzfgeh commented on #522
chooseHeadPic(){
        let options = {
            title: "b",
            takePhotoButtonTitle: '拍照',
            chooseFromLibraryButtonTitle: '相册',
            cancelButtonTitle: "a",
        };

        ImagePicker.showImagePicker(options, (response) => {
            if (response.didCancel) {
                ToastAndroid.show("用户取消", ToastAndroid.SHORT);
            } else if (response.error

[2017-03-21 07:12] gzfgeh commented on #522
![Uploading image.png…]()

[2017-03-21 16:10] Coramo commented on #522
same issues in react-native-image-picker@0.26.2 and react-native@0.42.3

[2017-03-21 18:17] rusfearuth commented on #522
@gzfgeh Hi! How did you import `ImagePicker`? Could you show that line?

[2017-03-21 22:45] cinder92 commented on #241
i'm getting same issue and fix from @villetou  is not working for me...

RN version 0.39

[2017-03-22 02:42] qiangxinyu commented on #522
@gzfgeh  clean  ios/build  and android/build

[2017-03-22 02:59] gzfgeh commented on #522
let ImagePicker = require('react-native-image-picker'); and i clean ios/build and android/build  ,
but the same error, i have the error three days

[2017-03-22 03:12] qiangxinyu commented on #522
[code]

That is what i did

you can create new object try,

[2017-03-22 16:53] jozan opened #523 "Memory consumption grows largely when using maxWidth/maxHeight options"
I see something like 30-40 MB more memory allocations when using cropping options. This is quite a bummer for lower end devices which I'd like to support. Now I just have to deal with full size image and it's a bit issue as well since I'm uploading it to the server.

Are there any plans to try to reduce memory consumption in the future releases?

And by the way, cool library. Huge thanks for maint

[2017-03-23 16:00] #458 closed

[2017-03-23 16:01] #376 closed

[2017-03-23 16:02] rusfearuth commented on #523
@jozan I can say that You'd get OOM in some other cases ;) like this #471
I'm working on it

[2017-03-24 15:14] theredfoxfire commented on #241
@villetou simple but works thank you!!

[2017-03-24 16:38] jozan commented on #523
Right. Thanks for the reply. Looking forward to solution. :)

[2017-03-24 17:05] GuelorEmanuel opened #524 "IOS: Cannot Dowload Photo"
Does anyone know how to resolve the following issue, getting an alert message "There was an error downloading this photo from your iCloud Photo Library. Please try again"

[2017-03-25 10:25] shaikhussian opened #525 "image is not converting to base64"
Hai,
  When i try to convert the image to base64 it is not showing the correct base64 format. Here is the line of code i used for base64 conversion
`let source = { uri: 'data:image/jpeg;base64,' + response.data }`
But it not showing correct base64 image

[2017-03-27 03:52] BenLam7878 opened #526 "Always timeout after choose photo"
response callback success at once,after that always throw timeout exception when i choose photo?

[2017-03-27 11:58] sondremare commented on #254
@marcshilling I am unable to reproduce this error with the newest version 0.26.2 and RN 0.42. I tried on a LG G4 with Android 6, and a Samsung Galaxy S4 on Android 5

[2017-03-28 14:26] encorex commented on #522
same here.....

[2017-03-28 14:51] cseelus commented on #522
Tried all version from 0.24.0 up to the current master, always getting `undefined is not an object (evaluating 'ImagePickerManager.showImagePicker')`

[2017-03-28 15:52] flavordaaave commented on #116
I was running into the same issue. Adding `android:largeHeap="true"` to `<application>` tag in `AndroidManifest.xml` solved the issue for me on my physical Android but I'm a bit concerned that this  might still be an issue for some devices with less memory?!?

[2017-03-28 23:26] jnrepo opened #527 "WindowLeaked com.android.internal.policy.PhoneWindow"
[code]

react-native: 0.42.0
react-native-image-picker: 0.26.2
platform: Android

Hi, it was working fine when react-native was 0.38, but after the upgrade pressing `Take a Photo` will crash the app on Android and throw the error above. Thanks in advanced!

[2017-03-29 02:16] dandingol03 opened #528 "hi,does this plugin provide generating video-thumbnail for me?"

[2017-03-29 03:40] rusfearuth commented on #521
@alexeypodolian Hi! Hmmm... I've seen dialog for upgrading to 25.0.0 build tools, but I ignored them. Do you have problem with building project or?

[2017-03-29 07:02] alexeypodolian commented on #521
@rusfearuth Yes, unfortunately I can not build the project without 25.0.0 (or higher)

[2017-03-29 11:20] ptfly opened #529 "Returning some kind of code when permission is not granted."
It will be nice to have a solid approach when handling this particular error. Currently (at least on iOS) it returns a simple message like: `Camera permissions not granted` or `Photo library permissions not granted`. Instead of just this, it will be much better to have a code or similar, based on which my app can show something more helpful to the user, like how to give permissions back, etc. Righ

[2017-03-29 16:04] fanzhiri commented on #522
looking for answer

[2017-03-29 16:12] marcshilling commented on #522
Generally this error means you've failed to properly link the native library. I'd recommend walking through the manual installation instructions in the README (don't use react-native link)

[2017-03-29 17:01] marcshilling commented on #529
Duplicate of #330. Agree that it needs to be implemented I just haven't gotten around to it. PR's would be welcome.

[2017-03-29 17:01] #529 closed

[2017-03-29 17:02] marcshilling commented on #528
Currently we do not return a video thumbnail. Would accept PR.

[2017-03-29 17:02] #528 closed

[2017-03-29 23:26] fanzhiri commented on #522
My problem has been resolved . react-native link is good , after that , go to the project dir ios/ double click the project file {xxx}.xcodeproj , click the {Build and run the current scheme } button , and then close the Xcode , run the command react-native run-ios , that is ok . thanks marcshilling .

[2017-03-30 03:51] sduqlsc opened #530 "strict mode does not allow function declarations in a lexically nested statement"
This is a shared exprience instead of bug for those who may have the same issue like me.

Before that, i've reviewed this in facebook issus, but unfortunately, none worked.

dev environment as below:
[code]

my solution is:

1. `npm cache clear`
2. `npm install react-native-image-picker@0.24 --save`
3. follow the manual instructions and do not run 'react link' command
3. check your `.gradle` direc

[2017-03-30 05:58] Nygma297 opened #531 "Error: react-native-image-picker:processReleaseResources"
[code]

Any Suggestions?

[2017-03-30 07:48] rusfearuth commented on #531
@Nygma297 RN version? React-native-image-picker version? Android build configs?

[2017-03-30 07:54] rusfearuth commented on #521
@alexeypodolian Do you use gradle cli or Android Studio?

[2017-03-30 08:10] alexeypodolian commented on #521
@rusfearuth Android Studio 2.3

[2017-03-30 08:22] rusfearuth commented on #521
@alexeypodolian Did you try use `gradlew` for building?

[2017-03-30 08:33] SY102134 opened #532 "[Android] Image file size of 0 with Camera"
Android4.4.2
picker0.26.2

I found that every time launch camera, will create a 0 size image in Android/Data/xxx/Pictures/image-xxx.jpg
When we finished taking pictures ,will write data in this 0 size image, if cancelled the process {didCancel=true}, but this 0 size image is not deleted

[2017-03-30 08:40] alexeypodolian commented on #521
@rusfearuth Yes, the same issue because of I have updated `gradlew` to version 3.3 after Android Studio update

[2017-03-30 08:43] rusfearuth commented on #532
@wuhenwuya Does it happen when you cancel taken photo?

[2017-03-30 08:46] wuhenwuya commented on #532
yes, empty image file not delete

[2017-03-30 09:20] Nygma297 commented on #531
@rusfearuth shows this in package.json
[code]

[2017-03-30 12:13] WajeehZantout opened #533 "Compatibility with Android 4.4.4 (KitKat)"
The latest version crashes the gallery after confirming an image took with the camera. I used v.0.22.13, it worked.

[2017-03-30 21:24] larryranches opened #534 "Video Duration Limit option not working"
I'm setting the durationLimit upload to be at 5 seconds but the picker allows videos that are greater than 5 seconds like 30 seconds.

Is this a bug? What is the expected behavior when a durationLimit is set and a user tries to upload a video greater? Is there supposed to be a warning, etc?

[code]

[2017-03-31 04:17] rusfearuth commented on #521
@alexeypodolian Are you sure? It's only recommendation you can build project with old build tools.

[2017-03-31 05:12] alexeypodolian commented on #521
@rusfearuth Yes, I'm sure.

<img width="1261" alt="screen shot 2017-03-31 at 8 11 06 am" src="https://cloud.githubusercontent.com/assets/15009596/24537287/c65e995e-15e9-11e7-8f47-8b662d0d3bdb.png">

[2017-03-31 05:18] rusfearuth commented on #521
@alexeypodolian Could you show me the log from cli on calling `./gradlew assembleDebug`?

[2017-03-31 05:21] alexeypodolian commented on #521
@rusfearuth Yes. By the way, Android Studio is just wrapper upon Gradle CLI.
[code]

[2017-03-31 05:24] alexeypodolian commented on #521
@rusfearuth There is a pull request

[https://github.com/marcshilling/react-native-image-picker/pull/535](url)

[2017-03-31 05:30] BigRoma commented on #521
I try set this version, but i get the error
![image](https://cloud.githubusercontent.com/assets/251894/24537599/2897a564-15ec-11e7-8e10-edd3caabb677.png)

[2017-03-31 05:36] alexeypodolian commented on #521
@BigRoma Do you have `comlileVersion 25` at your `build.gradle`?

[2017-03-31 05:48] rusfearuth commented on #521
@alexeypodolian Okay. Do you add react-native to exist project or?

[2017-03-31 05:53] alexeypodolian commented on #521
@rusfearuth What do you mean? I added `react-native-image-picker` as described at `Install` section of README. And It worked well until I have updated `Gradle Wrapper` and Android Studio.

[2017-03-31 06:00] rusfearuth commented on #521
@alexeypodolian Did you add react-native to exist native project or create a new one?

[2017-03-31 06:06] rusfearuth commented on #521
@alexeypodolian Could you show the next options from `android/app/build.gradle`?

* android.compileSdkVersion
* android.buildToolsVersion
* android.defaultConfig

[2017-03-31 06:29] BigRoma commented on #521
@alexeypodolian Yes i have

[2017-03-31 07:02] alexeypodolian commented on #521
@rusfearuth
I have a exist native project.

My `build.gradle`:
[code]

[2017-03-31 07:52] rusfearuth commented on #521
@alexeypodolian I was right =) It's main problem. Okay, I'll think about your PR.

[2017-03-31 07:56] juddey commented on #534
Hey there, great package! :1st_place_medal: I was working with this today and thought I would share what I had found since there was an issue open. In some situations the durationLimit worked for me and in others, not.

- iphone 6 running ios 10.2 on physical device - phone shows a message after the durationLimit saying 'The limit of the video has been reached' + video stops recording
- Android Ne

[2017-03-31 08:46] BigRoma commented on #521
@rusfearuth What about my problem?

[2017-03-31 09:51] rusfearuth commented on #521
@BigRoma Did you add react-native to exist native project?

[2017-03-31 09:53] rusfearuth commented on #521
@BigRoma your problem isn't here ) As you can see problem into react-native-maps.

[2017-03-31 18:08] larryranches commented on #534
Seems like this works for when capturing a video and setting a duration limit. I guess the durationLimit option doesn't handle when uploading an existing video from a mobile device that is greater than the durationLimit.

Would this be feature request?

[2017-04-01 09:27] Style-Tender commented on #505
I have solved the problem. Thanks everyone!

[2017-04-01 09:27] #505 closed

[2017-04-01 22:39] BigRoma commented on #521
@rusfearuth Oh! I'm sorry didn't pay attention, after changing versions of all packages it worked. Thank you very much =)

[2017-04-02 08:24] rusfearuth commented on #527
@jnrepo What were you doing with app, before it crashed?

[2017-04-02 19:34] jnrepo commented on #527
@rusfearuth Opened my app; selected `take a photo`; and it would throw that error. I didn't see this before, maybe its because I updated my android build tools to `25.0.0`?

[2017-04-03 05:09] rusfearuth commented on #527
@jnrepo I'm not sure about build tools. It couldn't create crash. Do you use ReactActivity or something custom?

[2017-04-03 05:54] jnrepo commented on #527
@rusfearuth using the ReactActivity; nothing custom

[2017-04-03 09:03] rexjrs commented on #471
any updates on this?

[2017-04-03 09:10] rexjrs commented on #471
This happens to me on Android 7.1.1

Google Pixel

[2017-04-03 09:28] rexjrs opened #537 "App restarts after taking a picture. Google Pixel Android 7.1.1"
Works fine on Moto 3, Lenovo K5 Plus running Android 5.1.1.

However, after taking a photo on Google Pixel 7.1.1, the app restarts. Choosing image from photo library works fine though.
My Options:
[code]
[code]

[2017-04-03 09:35] rexjrs commented on #537
CAM_ActivityCloser: WARNING: Activity was artificially finished: CameraActivityController: Intent completed with a valid result. Closing activity.

[2017-04-03 09:35] rexjrs commented on #471
CAM_ActivityCloser: WARNING: Activity was artificially finished: CameraActivityController: Intent completed with a valid result. Closing activity.

[2017-04-03 14:28] kboda opened #538 "Crash after taking about 70-85 photos in a serie"
[code]

Tested on iPad Air (A1474). Tap Open camera, take a photo, tap Use Photo. After doing this repeatedly 70-85 times the app crashes when the camera is open.

[2017-04-03 15:14] marcshilling commented on #538
lol...I never really intended this module to be used in such a manner, but good catch I guess. Submit a PR if you find the memory leak.

[2017-04-03 15:15] marcshilling commented on #532
Duplicate of #254

[2017-04-03 15:35] wuhenwuya commented on #532
@marcshilling i find that throws an exception no delete image in catch

[2017-04-03 16:56] rexjrs commented on #538
Hi Marc. Is the module supported for android 7.1.1? It's the only device I'm having issues on. The google pixel. My app is heavily reliant on this module and I'd really love if you could help me address the issue.

[2017-04-03 18:11] gianu opened #539 "Callback is never called."
After following the README guide I'm able to open the camera or the camera roll, but if I chose a picture or take a new one I never got any response in the JS callback.

If I cancel, I *DO* get the cancel response. I'm debugging the Java code and the `onActivityResult` method (which I assume should be called after taking a picture or selecting one) is never called.

Any clue on how I can fix this?

[2017-04-03 18:54] gianu commented on #539
BTW. I'm using React-Native 0.42.3, latest version of `react-native-image-picker` and I'm testing this on a Nexus 5x with Android 6.0.`

[2017-04-03 19:34] tronin commented on #18
UP! android solution needed

[2017-04-03 19:51] gianu commented on #539
I test adding the `onActivityResult` on my Activity (I have an activity which is creating the ReactView), and that `onActivityResult` got called.

[2017-04-04 05:52] ajonno opened #540 "How can we monitor via a callback for when a selected photo is returned ?"
At the moment, if we choose an image from the photo gallery, the image picker will close -- then there is a wait for a few seconds, then we can render the image using ```<Image..``` etc.

How can we know when the actual image has been returned ? We dont mind the wait but would like to display a spinner up until the point that the image is ready to be rendered in the UI.

[2017-04-04 08:09] firdausious commented on #533
Same here.. I'm using same code as the example, but it crash immediately

I'm using :
- Node v. 7.7.1
- RN : 0.42.0

[2017-04-04 09:09] weiliank commented on #463
The image size is returned in bytes @marcshilling ? +1

[2017-04-04 09:16] rusfearuth commented on #539
@gianu Could you share your activity?

[2017-04-04 09:18] rusfearuth commented on #540
@ajonno Hmm... I don't think that this is problem of our library.

[2017-04-04 09:19] rusfearuth commented on #533
@firdausious Have you used Android emulator or real device?

[2017-04-04 09:20] rusfearuth commented on #532
@wuhenwuya It'll be fixed at next release. I've add fix for that bug in my local version of repository.

[2017-04-04 09:22] rusfearuth commented on #538
@rexjrs Interesting. I'll research about it.

[2017-04-04 09:36] wuhenwuya commented on #532
@rusfearuth Thinks, If you could, i want to write the image url into the system library, when we open the image library by image picker, we can see the pictures we took before; but now i can not see!

[2017-04-04 09:42] firdausious commented on #533
@rusfearuth I've tested both on
Device (Xiaomi Red Mi 2 - Android 4.4.4) and
Emulator (Genymotion Nexus 7 - Android 5.0.0) has the same error (crash)

Using :
- Node v.7.7.1
- RN v.0.42.0
- with Macbook Pro

[2017-04-04 09:48] WajeehZantout commented on #533
@firdausious Use react-native-image-picker v.0.22.13 instead. It worked on that version

[2017-04-04 10:40] rusfearuth commented on #532
@wuhenwuya Now, it's available from `develop` branch. I mean `writing the image url into the system library`

[2017-04-04 11:36] gianu commented on #539
@rusfearuth sure.

Here is the Activity that starts the React View:

[code]

This activity is opened from another activity using this code:

[code]

If I add a `onActivityResult(int requestCode, int resultCode, Intent data)` on my `MyReactActivity` I *do* receive the result of the Camera Intent (triggered on `ImagePickerModule`), so I'm not sure if I'm making some mistake on how I trigger the modu

[2017-04-04 15:10] gianu commented on #539
@rusfearuth I think I found the fix to my issue.

I added

[code]
to `MyReactActivity` and everything works.

Closing this issue.

[2017-04-04 15:10] #539 closed

[2017-04-04 15:15] rexjrs commented on #538
@rusfearuth Hi. We realized it was something wrong with the phone itself. After restarting the phone and wiping the app with a fresh installation it worked. Not sure why and at this point I'm not sure if its the module's fault.

[2017-04-04 16:03] rusfearuth commented on #539
@gianu Okay

[2017-04-05 00:16] ajonno commented on #540
running on device the response time seems acceptable after the image picker is closed so will leave it at that for now

[2017-04-05 00:16] #540 closed

[2017-04-05 00:19] ajonno opened #542 "Can we "tag" images retrieved by the image picker ?"
Our app needs to allow a user to pick X photos and/or take photos, and then 'assign' them to a Note.

Is it possible to "tag" a selected image on iOS and Droid via this library, so that later we can query via that tag to display the required images for a given Note ?

[2017-04-05 06:57] ajonno opened #543 "Why are image files appearing in finder as greyed out ? then they disappear."
something i dont understand is why do image files that are landing ok in the ../../../.../images path on the simulator - show up as greyed out (which i can see from monitoring the folder in Finder - and then they just dissapear, so then i cant do anything with them afterwards ?

[code]

![image](https://cloud.githubusercontent.com/assets/3005269/24693447/fa175804-1a20-11e7-8ca2-c97ca03a9f3e.png)

[2017-04-05 14:26] marcshilling commented on #543
iOS or Android?

[2017-04-05 19:05] rusfearuth commented on #521
@BigRoma u'r welcome.

[2017-04-05 21:15] ajonno commented on #543
Sorry should have noted this was on iOS.

[2017-04-05 22:40] marcshilling commented on #543
Ok. You mention observing the ../../../../images folder. What exactly is that path? Specifying `storageOptions` should save the photo in an images folder in the application's Documents directory. Is it possible you're observing the temp directory? The response object should return the path the image gets saved in.

[2017-04-05 23:14] ajonno commented on #543
that absolutely could be it.

here is the path via console.log for a test i did just now:
```/Users/angusjohnston/Library/Developer/CoreSimulator/Devices/CBB7FA55-6E22-4345-8DCE-359686A5998B/data/Containers/Data/Application/B8C5E76E-1216-4956-80D9-CE7B668BFBF7/Documents/images/F518ACE7-73A5-4BEA-B8FD-802D8190EEC4.jpg```

[2017-04-05 23:31] marcshilling commented on #543
That seems correct. So the file isn't persisting you're saying?

[2017-04-05 23:34] ajonno commented on #543
yes correct. this might have nothing to do with it as im just getting familiar with the api, but if i comment out .close() i can see the image remains in the folder, i can open it etc.
ie.
[code]

![image](https://cloud.githubusercontent.com/assets/3005269/24731246/20732326-1aac-11e7-95b9-0167f8025a6d.png)

[2017-04-06 08:14] devhyunjae commented on #241
@villetou thanks

[2017-04-07 11:40] AlMel3000 opened #544 "Problem of Image path's Android"
Hello!
I'm experiencing a problem in Android Usage of this library.
Error occurs after selectin (taking) photo and making it source of `<Image/>`

**StackTrace is:**
Requiring unknown module "[object Object]".If you are sure the module is there, try restarting the packager or running "npm install".
unknownModuleError
    C:\Users\admin\Dropbox\Projects\fromWork\Memories\node_modules\react-native\p

[2017-04-07 12:01] #544 closed

[2017-04-08 18:38] MilosR opened #545 "Android cameraRoll gives: Error moving image to camera roll"
On Android, cameraRoll option won't work, following error appears on console, the com.xxx is the name of my package:

``
ImagePicker Error: Error moving image to camera roll: /app_images/Android/data/com.xxxxx/files/Pictures/image-953bd538-17e5-4976-8a0e-c6146c099799.jpg: open failed: ENOENT (No such file or directory)
``

If i an pick option to load image from gallery everything works as expected

[2017-04-09 02:09] rishiankush opened #546 "can't see options"
I am not able to see the options when background color is white or transparent.
There is no such property to add color option.

Here is the screenshot:
![screen shot 2017-04-09 at 7 37 07 am](https://cloud.githubusercontent.com/assets/25289937/24834043/a8cac510-1cf7-11e7-857a-3de378e27eec.png)

[2017-04-10 00:04] evinw opened #547 "How can you save image"
How can we save the image picked into a database via API? Where is the blob?

Thanx

[2017-04-10 12:53] Romchik22 commented on #470
I have same issue but only in Android. May be anyone now how i can solve this problem?

[2017-04-10 20:40] StevePotter opened #549 "iOS crash 0.26.2 with call to [NSFileManager moveItemAtURL:toURL:options:error:]"
Usling RN 0.42.3, react-native-image-picker 0.26.2.  I am getting sporadic crash reports on Crashlytics.  Report below.

I have no idea why videoUrl is nil at that point.  While this only fixes the symptom, the crash could be prevented with a nil check [here](https://github.com/marcshilling/react-native-image-picker/blob/develop/ios/ImagePickerManager.m#L457), like:
[code]

[code]

[code]

[2017-04-11 03:40] tsugitta commented on #534
I think the issue occurred because the ImagePicker's option `allowedEditing` must be `true` to trim a video.

[code]

[2017-04-11 08:01] AlMel3000 opened #550 "Error while updating property 'src' of a view managed by: RCTImageView (Android)"
Hello!
I receive an error:
[code]

And here is part of my code:

[code]

[2017-04-11 08:15] Nygma297 commented on #550
Try using response.uri instead of just response

here

[code]

[2017-04-11 08:16] Nygma297 commented on #531
Any Help? @rusfearuth

[2017-04-11 08:29] AlMel3000 commented on #550
Hello!
I've tried your solution. Error disappears.
But `<Image/>` remains empty after picking photo from gallery/ taking photo from camera.
Method is:
[code]

log is:
[code]

[2017-04-11 08:33] Nygma297 commented on #550
use this:
[code]

[2017-04-11 09:04] AlMel3000 commented on #550
Thank you, but your answer is not clear for me. What is imageURL ?

[2017-04-11 13:12] AlMel3000 commented on #550
So method is:
[code]
Element is:

[code]
But I expected old mistake:
[code]

[2017-04-11 13:25] AlMel3000 commented on #550
Nygma297, thank you for help!
May be some other solution?
Working wih images is near core functionality of application I'm developing.

[2017-04-11 15:31] rusfearuth commented on #531
@Nygma297 hmm... Strange. I've been trying to repeat...

[2017-04-11 21:18] ericvillemure opened #551 "Android storageOptions does not seem to be implemented for videos"
reading the documentation it seems like if I use the following settings the file will be saved in a 'private' folder
[code]

Unfortunately, it only seems to work for pictures and not videos.  I would like the videos taken from my app to not appear in the 'public' library

I have not tested it in iOS

[2017-04-12 00:06] marcshilling commented on #521
#535 has been merged so closing this.

[2017-04-12 00:06] #521 closed

[2017-04-12 00:08] marcshilling commented on #543
`blob.close();`
Where are you putting this code?

[2017-04-12 00:23] marcshilling commented on #546
I'm not sure how this is possible. Are you using `UIApperance` anywhere in your iOS code to style action sheets?

[2017-04-12 00:24] marcshilling commented on #547
This is not the responsibility of this library, but if you search through the issues here you should be able to find examples of what you need to do. You'll use the base64 `data` string from the response.

[2017-04-12 00:24] #547 closed

[2017-04-12 00:27] marcshilling commented on #549
Hmm, you'd think that `NSFileManager` would catch this internally considering you pass it an `error` ref. Agree this only fixes the symptom but I will add a nil check.

[2017-04-12 00:29] #549 closed

[2017-04-12 00:45] rusfearuth commented on #551
@ericvillemure Is it Android bug?

[2017-04-12 00:52] rusfearuth commented on #545
@MilosR Could you describe algorithm for reproducing that bug?

[2017-04-12 00:54] #538 closed

[2017-04-12 00:55] rusfearuth commented on #532
@wuhenwuya Could you check it out? We've rolled out 0.26.3 release.

[2017-04-12 01:12] rishiankush commented on #546
No, I am just using the simple example code you have provided. Please check my code below:
[code]

[2017-04-12 05:47] wuhenwuya commented on #532
@rusfearuth very good，no problem in android4.4.2, image is also written to the system path; but have some minor problems:

1. because we first created 0 size image, if we finished taking pictures, but We do not click the Save button, but forced to close the app, or 0 size image still exist. so we can create image file after on press save button.
2. Image storage path in sdcard1/Pictures/image-xxx-

[2017-04-12 06:26] ptfly opened #552 "Android API 19 - ImagePickerModule.java:732"
### Description

It's crashing when trying to "Take a Picture" under Android API 19.
I'm getting a red screen without an error message but stating the issue location:
`ImagePickerModule.java:732` which corresponds to `path.mkdirs();`

It's happening on an emulator and on a real device!

Screenshot: https://cloud.githubusercontent.com/assets/1925966/24944081/1f5664b6-1f62-11e7-9b72-dc0c9cb2c194.png

[2017-04-12 06:54] AlMel3000 commented on #550
Problem is solved.
**It is not library's issue.**
[code]
Does not reveal` <Image/>` element at all.

I found this out after adding `source={{uri: 'https://facebook.github.io/react/img/logo_og.png'}}` to `<Image/>`.

So I've changed style to
 ` style={{width: Dimensions.get('window').width,height:Dimensions.get('window').width, resizeMode: 'contain'}}`
 and the behavior of the application became as

[2017-04-12 06:54] #550 closed

[2017-04-12 07:03] rusfearuth commented on #552
@ptfly Please use ISSUE TEMPLATES! I've added that for describing bug!

[2017-04-12 07:34] ptfly commented on #552
@rusfearuth ok, sorry for that :)

[2017-04-12 07:40] rusfearuth commented on #552
@ptfly please correct your issue description with this template:

[code]

I've added it to avoid asking routine questions.

[2017-04-12 07:50] rusfearuth commented on #532
@wuhenwuya Okay. I'm going to rollout a new one release for 2 next days.

[2017-04-12 07:51] ptfly commented on #552
@rusfearuth Done, you can delete all comments bellow the original issue to keep it clean :)

[2017-04-12 14:26] StevePotter commented on #549
Thanks Marc.  Do you got this one or would you prefer I submit a PR?

On Tue, Apr 11, 2017 at 8:29 PM, Marc Shilling <notifications@github.com>
wrote:

--
Stephen Potter,
Developer @ Vydia.com

[2017-04-12 16:54] marcshilling commented on #549
@StevePotter already done and published on npm!

[2017-04-13 14:22] StevePotter commented on #549
You are awesome thank you!

On Wed, Apr 12, 2017 at 12:54 PM, Marc Shilling <notifications@github.com>
wrote:

--
Stephen Potter,
Developer @ Vydia.com

[2017-04-13 14:40] rusfearuth commented on #552
@ptfly Tnx )

[2017-04-15 00:46] PeterRock commented on #453
You can look here [React Native / Xcode Upgrade and now RCTConvert.h not found](http://stackoverflow.com/questions/41477241/react-native-xcode-upgrade-and-now-rctconvert-h-not-found)

[2017-04-15 14:34] frozenxis opened #555 "Image doesn't show after picking from gallery or camera"
hello

i installed 0.26.3 image picker and i run react-native 0.41.2

gallery shows ok, camera opens. i can console.log the result and i see data and uri of image but <Image> component doesn't show. is there a problem with images from gallery/camera? my uri starts with file:///

[2017-04-15 14:50] frozenxis commented on #555
Solved it, had to write style={{width: 100, height: 100}} in Image component... :)

[2017-04-15 14:57] #555 closed

[2017-04-17 07:03] liyangwood opened #556 "IPad will have an error"
error message
 'UIApplicationInvalidInterfaceOrientation', reason: 'Supported orientations has no common orientation with the application, and [PUUIAlbumListViewController shouldAutorotate] is returning YES'

when only use for IPad and make the app orientation is landscape left and landscape right.

[2017-04-17 08:59] vzhen opened #557 "File type null"
Here is the response. Is the file itself problem or the module?
[code]

Version
"react": "16.0.0-alpha.6",
"react-native": "0.43.2",
"react-native-image-picker": "^0.26.2",

Devices
Windows 7 64bits
Android emulator 7.1.1

[2017-04-17 10:13] Ashu-Shah commented on #531
After install this packege @Nygma297 @rusfearuth i am also getting this error.

[2017-04-17 10:30] Nygma297 commented on #531
Are You using Windows @Ashu-Shah ?

[2017-04-17 10:31] Ashu-Shah commented on #531
yes i am using windows 10.

[2017-04-17 10:32] Nygma297 commented on #531
Do you have a mac/linux/ubuntu?

[2017-04-17 10:34] Ashu-Shah commented on #531
@Nygma297 No i dont have. there is no solution for windows???

[2017-04-17 10:36] Nygma297 commented on #531
I had to link it using mac @Ashu-Shah but I couldn't pinpoint a solution for windows!

[2017-04-17 10:47] Ashu-Shah commented on #221
@imalbert Thank you soo much man....

[2017-04-17 10:53] Ashu-Shah commented on #531
@Nygma297 I got the solution from [here](https://github.com/marcshilling/react-native-image-picker/issues/221).

[2017-04-19 01:36] MilosR commented on #545
Changing the line line of onActivityResult
`final File oldFile = new File(uri.getPath());`

to
`final File oldFile = new File(getRealPathFromURI(uri));`

fixes the problem for for me.

path with uri.getPath():
`/app_images/Android/data/com.xxxxx/files/Pictures/image-953bd538-17e5-4976-8a0e-c6146c099799.jpg`

path with getRealPathFromURI(uri):
`/storage/emulated/0/Android/data/com.xxxxx/files/Pictu

[2017-04-19 08:38] skr1t commented on #417
I still have two questions about this issue:

1. If you **ARE NOT** using this option, images are stored in a "tmp" folder. When is this folder being emptied? Because I can't find a trigger that does this.

2. If you **ARE** using this option because you want to use the cameraRoll option, you have to provide the clean up service yourself? For example, empty the (specific) folder after the upload t

[2017-04-19 13:20] arcollector opened #558 "More quality options"
Any chances to add more quality options to an image, if a use 0 as quality, the image looks very bad (too much compression)

[2017-04-19 15:15] alexustinovsm commented on #558
@arcollector quality is in range 0 to 1. You can set up 0.5 which equals 50%.

[2017-04-19 15:23] rusfearuth commented on #545
@MilosR I've pushed PR with fixing of current problem. You may check it.

[2017-04-19 17:16] arcollector commented on #558
oops, thanks for the clarification!

[2017-04-19 17:16] #558 closed

[2017-04-20 02:49] #455 closed

[2017-04-20 02:50] haitaoli commented on #455
Closing this issue since it has been inactive for two months, and it's not an issue in this project.

[2017-04-20 02:57] haitaoli commented on #471
The camera intent launches the camera app, so your own app now runs in the background. An Activity should be able to handle restarts, which can happen in many scenarios including orientation change. I don't think this is something `react-native-image-picker` can control.

[2017-04-20 03:00] haitaoli commented on #472
Closing due to inactivity. If anyone sees this issue again please reopen.

[2017-04-20 03:00] #472 closed

[2017-04-20 03:00] haitaoli commented on #472
Closing due to inactivity. If anyone sees this issue again please reopen.

[2017-04-20 03:26] haitaoli commented on #483
@awesomepankaj do you get the image back when this happens?

[2017-04-20 03:28] haitaoli commented on #537
@rexjrs do you lose the image when activity restarts?

[2017-04-20 05:23] rayshih opened #559 "NullPointerException while cancel"
### Description

Found fatal exception which recorded by crashlytics. Here is the log

[code]

Seems like there is a chance that "cancel" be triggered twice, but the `callback` is null in the second time.

### How to repeat issue and example

Don't know how to repeat.

### Solution

Add null check before the invocation. Maybe add events that inform JS realm that there is an error.

### Additional

[2017-04-20 20:21] gbenga504 commented on #525
I am also having the same issue.  When I try to get the base64 encode of images.  I get undefined returned

[2017-04-20 22:08] gbenga504 commented on #525
Solved mine already,  the line of code is correct. Try console logging your result from dataURI to make sure that dataURI actually exists.  And make sure that you don not have data of response object pointing to null or undefined and finally make sure no middleware is intercepting and performing an operation

[2017-04-22 06:09] kashyapp commented on #559
This crash is most likely from the permission explaining dialog. There are code paths where `this.callback` is set _after_ the permissions check. And the permissions dialog invokes `doOnCancel` if the user cancels it.

[2017-04-23 01:32] loodsite opened #560 "how to change the color of the takePhotoButtonTitle, chooseFromLibraryButtonTitle"
### Description

How to change the color of the takePhotoButtonTitle, chooseFromLibraryButtonTitle to "red", e.g?
I managed to change the background color, the color of the title and cancel button with code below.
![dialog-buttons-color](https://cloud.githubusercontent.com/assets/27905975/25309745/5eee62ba-27d5-11e7-9ac4-6e2b9634c230.png)

### Source code

`<resources>

    <style name="DefaultExp

[2017-04-23 06:07] haitaoli commented on #542
This library does not modify image content or meta data. If the image is already in the library you can try matching the url or file name.

[2017-04-23 16:48] haitaoli commented on #556
@liyangwood This answers your question: http://stackoverflow.com/questions/25090167/set-shouldautorotate-to-false-with-photolibrary
It's a limitation in iOS UIImagePickerController. You have to enable portrait mode in your app.

[2017-04-23 20:28] jnrepo commented on #527
@rusfearuth I've dug into the issue more and found out Its exiting with this error:

[code]

hmm... and looking online it seems its related to my fileprovider in my manifest. Is there a recommended way to set it up?

[2017-04-23 20:40] jnrepo commented on #527
I was able to fix the issue. Had to change my provider to look like this... (copied directly from android manifest in `react-native-image-picker`)

[code]

[2017-04-23 22:12] haitaoli commented on #527
@jnrepo thanks for updating this issue.

[2017-04-23 22:12] #527 closed

[2017-04-24 06:52] AndrewJikun opened #561 "react-native-image-picker not working in android 7.0"
react-native-image-picker not working in android 7.0.

[2017-04-24 11:37] #542 closed

[2017-04-24 11:40] ajonno commented on #543
Sorry for delay in getting back on this just been flat out. The storage options appear to be behaving correctly and I suspect it was something I was doing incorrectly. Really appreciate your help/follow up on this.

[2017-04-24 11:40] #543 closed

[2017-04-24 11:40] rusfearuth commented on #561
@AndrewJikun we have special template for issue. Will you be so kinds as to use it?

[2017-04-24 21:43] newosetroc commented on #414
@ywqian this worked for me :)
Thank you

[2017-04-25 00:20] Blapi commented on #537
@rexjrs I've got the same issue as yours, when I take a photo, sometimes (not always), the app is restarting. However, I don't have this issue when I choose a photo from library.

Did you manage to fix this?

@haitaoli, as for me, yep.

I'm working with a Nexus 5X, Android 7.1.2

[2017-04-25 00:25] haitaoli commented on #537
@Blapi Is it always happening if you rotate the phone when taking the picture?

[2017-04-25 00:29] Blapi commented on #537
@haitaoli, no, not always. As I said it's only happening just sometimes, and I was not able to reproduce this issue after 20 tries..

[2017-04-26 03:45] rheilgm commented on #561
same as mine, but its only restarting right after clicking "Take Photo..." option
something like `android.os.FileUriExposedException: file:///storage/emulated/0/Pictures/image-048cc0c7-97a7-4b01-a673-d2cc884a5124.jpg exposed beyond app through ClipData.Item.getUri()`

[2017-04-26 13:52] sheprdinc opened #562 "Works Great on iPhones 5 & 6, but Crashes on iPhone 7"
Image Picker Version: 0.26.2
My RN Version: 42

Devices Test on:
iPhone 5/5s: works always
iPhone 6/6+: works always
iPhone 7: "Choose from Library" works always, but "Take Photo" crashes the app (always)
iPhone 7+: "Choose from Library" works always, but "Take Photo" crashes the app (always)

[2017-04-27 08:00] enguerranws opened #563 "Permissions weren't granted on Android"
I'm testing an app which is using react-native-image-picker on my Android devices. It's working on iOs, not on Android.

Here's what I've done:
[code]
[code]
Here's what happen:
- I can tap the Choose picture
- it opens the "Select a photo" menu
- whether I tap Take photo or Choose from library, it logs an error "Permissions not granted"

I uninstalled the app / reinstalled it, checked my applicat

[2017-04-27 10:06] rexjrs commented on #551
var options = {
  title: 'Select meal image',
  storageOptions: {
    skipBackup: true,
    cameraRoll: true,
  },
  quality: 0.8,
  mediaType: 'photo',
  maxHeight: 2000,
  maxWidth: 1000
};

I'm on Android. I set cameraRoll to true but cannot find the images in the gallery or photos app after taking a picture.

[2017-04-27 12:43] ShanthiSenguttuvan commented on #525
Me too used the same let source = { uri: 'data:image/jpeg;base64,' + response.data }
 and got error  bad base-64

[2017-04-27 12:51] ShanthiSenguttuvan commented on #61
Can anyone help me?
how can i save the file on my server? I am using express with node js in my server side.

[2017-04-27 12:54] Liqiankun commented on #562
What is the IOS version of them?

[2017-04-27 12:56] Liqiankun commented on #562
What are their ios versions? if iPhone 7 running iOS 10.You need add the `NSPhotoLibraryUsageDescription`, `NSCameraUsageDescription`, and `NSMicrophoneUsageDescription` (if allowing video) keys to your `Info.plist` with strings describing why your app needs these permissions.

[2017-04-27 13:12] ShanthiSenguttuvan opened #564 "Can anyone help me. I got response.path and response.uri. But how can we save a file on the web server?"
* Please read the following carefully before opening a new issue.
Your issue may be closed if it does not provide the information required by this template.

--- Delete everything above this line ---

### Description

Explain what you did, what you expected to happen, and what actually happens.

### How to repeat issue and example

Your explanation here and source code or link

### Solution

What

[2017-04-27 13:14] ShanthiSenguttuvan commented on #564
I have stored the response.data in my database and tried to download as a image file using react-native-fetch-blob but i got error bad base 64? Can anyone help me?

[2017-04-27 23:20] haitaoli commented on #61
@ShanthiSenguttuvan grab the url from image picker, then:
[code]

[2017-04-27 23:26] haitaoli commented on #564
This issue isn't related to image picker module.

[2017-04-27 23:26] #564 closed

[2017-04-28 04:39] ShanthiSenguttuvan commented on #61
thanks for your replay.

[2017-04-28 04:45] ShanthiSenguttuvan commented on #564
yeah this is not an image picker issue. React-native-image-picker is a best module and its working good.  But i don't know how to create  a image file on my server with the response given by react-native-image-picker.

[2017-04-28 16:55] demogar commented on #545
Any update on this PR? Looking forward on implementing this fix on my code.

[2017-05-02 07:38] matart15 opened #566 "How to upload selected image with Relay mutation"
I am using relay.
https://facebook.github.io/relay/docs/api-reference-relay-mutation.html#getfiles

relay uses getFiles on mutation to send files to server. But it seems getFiles function  must return `File` object.

[code]

Relay responds with `"Syntax Error GraphQL request (1:1) Unexpected EOF↵↵1: ↵   ^↵"`

How can I upload response with `getFiles`?

[2017-05-02 08:19] lorenzodonini commented on #470
@Romchik22 Which device were you using?

[2017-05-02 08:33] matart15 commented on #566
Ok It seems error occurs only when `remote debugging` is on.
If disable it it works.

Any Idea how to debug request.

[2017-05-02 10:18] Romchik22 commented on #470
@lorenzodonini LG G3

[2017-05-02 10:45] matart15 commented on #566
Ok I figured it out.
It is related to this (https://github.com/react-community/react-native-image-picker/issues/557)

because of file type is not in object backend does not recognize input file.

[2017-05-02 10:47] yellowChao opened #567 "how to automatic create react-native custom compoment as npm file structure?"
i read you code, feel very clear.
right now, i want create myself react-native-compoment, but i don't know how to init a npm project.(like run pod lib create xxx), make it like this:
![image](https://cloud.githubusercontent.com/assets/6483149/25615061/b71bfd64-2f67-11e7-961e-f59654f8082e.png)

please give a hands ,3Q

[2017-05-02 13:45] imarem commented on #560
Hi @loodsite

How have you done to customize the dialog as well? I'm trying to do the same and I can't adapt it.

Could you show me how you import the customize in the theme?

Thanks for advance!

[2017-05-02 15:58] imarem opened #568 "Android - How to change Holo Light Theme Dialog"
Hi @marcshilling ,

I'am running on Android, and i would like change de HoloLightTheme from Dialog.

I try to add de theme adding the follow styles specified in the readme, but I can not change it.

I think the option of customizing the dialog is for versions higher than @ 0.24. Is there any option to be able to use the features of> @ 0.24 with react-native@0.39?

* React Native version: 0.39
* Pl

[2017-05-03 22:37] larryranches opened #570 ".3gp video format freezes app when selected by image picker"
When selecting a .3gp video format video from the ios camera roll, the app freezes. There is no hard crash that happens nor can it hit any logs within the ImagePicker.launchImageLibrary() promise that returns the file information.

* React Native version: 0.43.3
* Platform: IOS
* Development Operating System: MacOS

[2017-05-04 07:55] kbeckmann commented on #559
I've seen a bunch of this one in production as well. React native 0.43.3 and react-native-image-picker 0.26.3 (plus an unrelated patch).

I can reproduce it by repeatedly pressing the button in my app that calls ImagePicker.showImagePicker() and then as fast as possible press "cancel" on the native dialog that pops up. Can trigger it after around 2-3 tries.

[2017-05-04 08:30] kbeckmann commented on #559
I haven't tried to find the root cause but if you need a quick patch you can add a null-check and set the callback to null. This works around the issue for me at least. It feels a bit dirty and there is probably a cleaner way to solve it.

ImagePickerModule.java:
[code]

[2017-05-04 08:42] JimmyDaddy opened #572 "Android device always OOM"
### Description

Some Android device with low ram always crash because of OOM

### Solution
I edited the source code at `MediaUtils.java`,function `getResizedImage` with the code below:
[code]
and
[code]
It will resolve my problem. Do you have a better solution for this? Can you fix it?

[2017-05-05 10:40] bogu5407 opened #574 "NullPointerException when I use bitmap.compress"
I wanna convert File to bitmap and then bitmap to byte[]. When I debug, file is created and bitmap, too. also it can be converted to byte. But in while(), there is nullpointerException error on bitmap.compress, and it is same when I emulate it.  I don't know why at first or second iteration, it is okay, but after that it isn't.

This is error code.
java.lang.NullPointerException: Attempt to invoke

[2017-05-05 13:03] bogu5407 commented on #574
I found what is problem. in this code
   for (int item_count = 0; item_count < itemList.size(); item_count++) {
                     File tempfile = getFile(item_count);
                     FileList.add(tempfile);

                    StorageReference islandRef = storageRef.child(currentTeam.getTeamName() + "/" + itemList.get(item_count).getName() + ".jpg");

                    islandRef.getFile

[2017-05-07 09:04] manhlx3006 commented on #244
This problem happens again for me in **v0.26.3**, sometimes when clicked to open camera it's crashed, sometimes after taken photo and confirmed, it's crashed

[2017-05-07 09:26] sahil290791 opened #575 "On denying permissions for first time and trying to allow it again it shows ReTry?"
### Description

On denying permissions for first time and trying to allow it again it shows ReTry.
I was expecting it to ask for permission again, instead of showing ReTry and sending the user to app settings screen.

After going through other apps with camera permission, there it asks for permission from within the app to access camera and does not send the user outside of the app to `settings -

[2017-05-07 23:02] SeonaeShin commented on #241
@villetou it doesn't work for me ....in my case guess the module (react-native-firebase-analytics) is related. rn 0.38

[2017-05-08 17:43] zachrnolan commented on #570
+1 having the same issue

[2017-05-08 18:16] GeoffreyPlitt commented on #570
Note that this is one of the most popular video formats on mobile

[2017-05-08 21:26] kevinmcampos commented on #563
Any lucky on this?

Checkout your AndroidManifest.xml and see if it has these lines of code:

[code]

This library already handle Android permissions, you don't need any other permission library for use it.

[2017-05-09 17:32] mesbahsabur opened #576 "[iOS] fileName is not the same as actual file name?"
### Description

When I pick a photo from the Library, the response.fileName is not the same as the file name in response.uri. When I take  a photo, there is no response.fileName at all. I have storageOptions enabled, as well as storageOptions.waitUntilSaved.

I can't use response.uri to save the photo to local storage, because of this reason: [Link](http://aplus.rs/2013/never-save-absolute-file-p

[2017-05-09 22:58] zengyanzi commented on #562
I added already, but my iPhone 6 crashed as well.
React native version is 41
image picker version is "^0.26.3",
iOS is 10.3.1
Thanks a lot

[2017-05-10 06:32] mgfjxxiexiaolong commented on #455
@pseudorandumb I works to me. Thanks.

[2017-05-11 06:06] hanweixing opened #577 "Suggestion: add usage for cocoapods, like below"
Installation (Auto)

iOS: (for cocoapods)

pod 'react-native-image-picker', :path => '../node_modules/react-native-image-picker'

the path of react-native-image-picker just custom yourself.

[2017-05-11 15:44] knalinne opened #578 "Issue with picker after migrating to RN 0.44.0"
### Description

Since migration from RN 0.35.0 to RN 0.44, the app crash after selecting an image from the library

All I have is this stack trace:

	at com.facebook.react.bridge.CallbackImpl.invoke(CallbackImpl.java:32)
	at com.facebook.react.bridge.PromiseImpl.resolve(PromiseImpl.java:32)
	at com.showlocationservicesdialogbox.LocationServicesDialogBoxModule.checkLocationService(LocationServices

[2017-05-11 18:07] dhawanheena26 commented on #562
Any update on this issue?

[2017-05-12 07:27] spidergears commented on #537
@haitaoli I have the same issue, running  Android Marshmallow on Moto G2.
App restarts with splash screen. Since the components are reinitialised, I lose the captured images reference, the image remains saved in phone gallery applications.

Works fine when choosing image from gallery.

[code]

Went though other similar issues, couldn't  find anything that helps.

[2017-05-12 07:54] knalinne commented on #578
Hello,

Problem solved, nothing to do with react-native-image-picker ...
It was another package that wasn't up to date...

Sorry !

[2017-05-12 07:54] #578 closed

[2017-05-12 14:50] GuillaumeMunsch commented on #562
For me the keys are called "Privacy - Camera Usage Description" for the camera and "Privacy - Photo Library Usage Description" for the Library.
Check is the issue doesn't come from the simulator itself that doesn't have any camera.

[2017-05-12 16:03] dhawanheena26 commented on #562
I missed "Privacy - Microphone Usage Description" in info.pilist , added that and it worked .
Thanks a lot :)

[2017-05-13 19:20] mesbahsabur commented on #561
Works for me... On a Galaxy S8.
I do get  an app crash when I use 'Take Photo' and then use 'react-native-camera' (of visa versa). Crash does not occur on simulator (Android 6) or on iOS.

[2017-05-14 01:17] mesbahsabur commented on #537
I experience the exact same issue, random crashes when taking a picture. Choosing from gallery works fine.

Device: Samsung Galaxy S8 (Android 7.0) on Debug as well as Release

"react-native": "0.43.3",
"react-native-image-picker": "^0.26.3"

[2017-05-15 06:01] TrustTheBoy opened #579 "Failure delivering result ResultInfo"
os : macOS Sierra
d : Samsung Galaxy
[code]

[2017-05-15 12:43] thylo opened #581 "Get permissions doesn't trigger callback"
### Description

On Android 23+ with React Native 0.43+ (targetSDKVersion 23), the very first time you try to take a picture ou to select one from the library, the permission popups (WRITE_EXTERNAL_STORAGE and PERMISSIONS.CAMERA) shows up, but the callback is never triggered. You have to recall the method to get it working

### How to repeat issue and example

[code]

In this case, `this.gotPhotoR

[2017-05-15 15:39] cosydney commented on #522
I'm having a similar issue.

I followed the Readme from react-native-image-picker with both manual and automatic linking (tried both separately).

When I launch simulator from terminal using react-native run-ios I get the error. When launching from Xcode it works fine, I can access the CameraRoll picker no problem.

Here are the versions I'm using:

[code]
undefined is not an object (evaluating 'I

[2017-05-16 09:07] cosydney commented on #449
Hi @anthony-tietjen, following your thread I'm running in the same issue. Could you be more precise on how you removed the iOS references?

Thanks

[2017-05-16 12:41] anthony-tietjen commented on #449
No problem @cosydney. In the readme file, refer to the manual iOS installation instructions. It talks about manually linking up libraries in your Xcode project. I undid all of that and then walked through the steps again and it worked that time. I must have just done it wrong the first time.

[2017-05-16 15:18] Calvin92 opened #582 "With Android device, once select "take photos" or "choose from library", App will crash ~!"
But on Genymotion simulator, everything is OK.

I captured the certain error,  it seems there is conflict with `react-native-navigation`, but I don't know which file I can modify to fix this issue.

error log:

[code]

[2017-05-16 15:42] MihailDemchenko commented on #575
Use this solution.
https://github.com/react-community/react-native-image-picker/issues/330

[2017-05-17 02:15] Calvin92 commented on #561
@mesbahsabur The same .  simulators are OK but Android device crashed..   So  how did you fix it?

[2017-05-17 03:53] mesbahsabur commented on #561
@Calvin92 I haven't yet. But I got a reply on the community facebook page that they have started testing this library on devices. Hope there is a quick fix. Otherwise, I may use  react-native-crop-picker for the time being.

[2017-05-17 04:29] Calvin92 commented on #561
@mesbahsabur Oh,  thank u.  Such being the case, I will try to user `react-native-crop-picker` .

[2017-05-17 07:38] cosydney commented on #449
@anthony-tietjen right It worked for me too, I didn't know that to remove the references it was just right click delete files from xcode and then adding them again ! Did the trick for me thanks !!!

[2017-05-17 16:23] aarontrank commented on #582
You either need to have NavigationActivity implement OnImagePickerPermissionsCallback or you need to modify ImagePickerModule to cast the activity to a PermissionAwareActivity instead of an OnImagePickerPermissionsCallback.

See PermissionAwareActivity line 576-597, Here's the change I made:

[code]

[2017-05-17 16:34] aarontrank commented on #552
This is a KitKat permissions issue (KitKat is funky).  Resolvable by adding following code in ImagePickerModule before calling: currentActivity.startActivityForResult(cameraIntent, requestCode);

Added this block of code at line 269:

[code]

[2017-05-18 06:49] Calvin92 commented on #582
@aarontrank Awesome~~   It helps me  ~   Many thanks~

[2017-05-18 06:50] #582 closed

[2017-05-18 07:32] MarkDoggen opened #585 "-"

[2017-05-18 07:33] #585 closed

[2017-05-18 14:10] cosmith commented on #576
Thank you for this issue! My files were disappearing for no apparent reason, but in fact I was rebuilding after every run, so the local URI was obsolete.

I agree that having `response.uriFileName` or similar would be a good idea.

[2017-05-19 04:25] palashmandokhot opened #586 "Caused by: android.system.ErrnoException: open failed: ENOENT (No such file or directory)"
**how to solve this error in android studio Caused by: android.system.ErrnoException: open failed: ENOENT (No such file or directory)**

[2017-05-19 07:32] sudhanshu6247 commented on #537
I have been facing the same issue for long time.
"react-native-image-picker": "^0.24.1",
"react-native": "^0.34.1",
Please help.

[2017-05-19 12:01] sw-tt-keyurprajapati opened #587 "Got Crashed on Open library/camera in iPad and my app only in landscape mode"
**Crash Log Reason:**

*** Terminating app due to uncaught exception 'UIApplicationInvalidInterfaceOrientation', reason: 'Supported orientations has no common orientation with the application, and [PUUIAlbumListViewController shouldAutorotate] is returning YES'

If any specific solution available.

[2017-05-19 16:59] lj1000 commented on #240
hi @dannyyaou im having a similar issue. did you get a solution.

[2017-05-21 05:12] palashmandokhot opened #588 "android.system.ErrnoException: open failed: ENOENT (No such file or directory)"
**android.system.ErrnoException: open failed: ENOENT (No such file or directory)**

[2017-05-21 05:13] palashmandokhot opened #589 "android.system.ErrnoException: open failed: ENOENT (No such file or directory)"
android.system.ErrnoException: open failed: ENOENT (No such file or directory)

[2017-05-21 05:13] palashmandokhot opened #590 "android.system.ErrnoException: open failed: ENOENT (No such file or directory)"
**how to solve  error android.system.ErrnoException: open failed: ENOENT (No such file or directory)**

[2017-05-21 17:25] spencexyz commented on #90
I'm trying to use allowsEditing: true on Android, but nothing is happening. Is there something else I need to do?

[2017-05-22 10:10] CC10559 opened #591 "React/RCTBridgeModule.h not found"
my react-native version is 0.44.0,also have this problem,what can i do,i try many ways to solve it,but not work,help me

[2017-05-22 12:05] marcshilling commented on #90
@spencexyz allowsEditing functionality was removed on Android due to issues with certain Android versions and devices

[2017-05-22 14:34] balajmarius commented on #507
I have the same problem, any fixes?

[2017-05-23 14:20] SanchiSinghal opened #592 "How to change storageOptions ?"
How can we change the storage-options from Pictures to a 'title' ?

### Additional Information

* React Native version: 0.42.0
* Platform: both
* Development Operating System: Ubuntu

[2017-05-24 20:10] cokealmonacid opened #593 "Image picker dont load the selected image on Android versions under 5.0"
I use the following code to load a image from the library or take it by the user, then this is loaded on the state that show's the selected image, this works pretty well on devices with android above 5.0 but when try this on android 4.1, 4.2 or even 4.5 dont loaded the selected image
This is my code:

[code]

Then im trying to show the selected image on the render like this:

[code]

What can i do

[2017-05-25 03:30] marsonmao opened #595 "Should "android.permission.CAMERA" and related permission and feature be located in this package's AndroidManifest.xml?"
I mean, should we just put
`<uses-permission android:name="android.permission.CAMERA" />`
`<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>`
`<uses-feature android:name="android.hardware.camera" android:required="false"/>`
`<uses-feature android:name="android.hardware.camera.autofocus" />`
inside `react-native-image-picker/android/src/main/AndroidManifest.xml`?

The reac

[2017-05-25 06:35] mbelgrader opened #596 "Feature request: Launch Video"

[2017-05-25 06:42] #596 closed

[2017-05-25 08:23] rocwangv commented on #537
It also happens in HUAWEI MT7-CL00 ,Always!

[2017-05-25 09:53] marsonmao commented on #595
I tried to put
`    <uses-permission android:name="android.permission.CAMERA" />`
`    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>`
in the `node_modules\react-native-image-picker\android\src\main\AndroidManifest.xml` and my app works fine, maybe we should really consider putting these lines here?

[2017-05-25 15:04] aprihodko commented on #587
Do not block the orientation in project settings

[2017-05-25 19:17] vinogradov commented on #241
@villetou thanks! Save my day

[2017-05-25 20:20] matthewfbenjamin opened #597 "Accessing both Photos and Videos on Android"
### Description

Cannot access both Videos and Photos in the Android Gallery.

### Solution

Make it behave similarly to iOS with the 'mixed' type on the mediaType option

[2017-05-26 09:46] faceach commented on #561
is this issue fixed? @AndrewJikun

[2017-05-26 21:34] danieljoonlee commented on #581
im getting the same issue as well
[code]

the call backs dont seem to fire after turning off your permissions.  in result, the app crashes if the user tries to proceed again

[2017-05-28 05:21] palashmandokhot opened #598 "open failed: ENOENT (No such file or directory)"
**hii,
how to solve  Caused by: android.system.ErrnoException: open failed: ENOENT (No such file or directory) problem please help me its very urgent.here is logcat report please check and tell me how to solve the errors.
[logcat debugging report.txlogcat debugging report.txt](https://github.com/react-community/react-native-image-picker/files/1033969/logcat.debugging.report.txlogcat.debugging.repo

[2017-05-29 09:33] awitherow opened #599 ""Couldn't get file path for photo""
### Description

We have updated from version `0.26.2` to `0.26.3` and the ability to pick an image from the gallery in Android has broken in our implementation

### How to repeat issue and example

We call the `ImagePicker.showImagePicker` function in a Promise and pass it the config that is shown below

[code]

### Solution

What needs to be done to address this issue? Ideally, provide a pull re

[2017-05-29 20:03] dylanschirino opened #600 "Ios 9 cannot open library or take photo"
Hi ! Is there an issue about ios 9 version which cannot open or take a picture ?

It work fine on ios 10 version but not under :/

[2017-05-29 20:29] dylanschirino commented on #600
Bug fixed with enter in the info.plist on display name bundle :"YourNameApp" and the issues is solved ! Not understand exactly why but why not haha

[2017-05-30 02:27] agrass commented on #244
I'm with v0.24.1 and with Android 4.4.4 Apps get restarted. Anyone with a workaround for this?

[2017-06-01 01:56] yinanwang1 opened #601 "Can't present view controller in iOS when the view controller of RN is pushed from a navigation controller."
The HXMyViewController added the rootView of RN and it is pushed from a navigation controller, as follow:
[code]
In the react-native-image-picker framework, the RCT_EXPORT_METHOD(showImagePicker:(NSDictionary *)options callback:(RCTResponseSenderBlock)callback) function in the ImagePickerManager.m file,
[code]
The value of root is a UINavigationController, so invoke the presentViewController:anima

[2017-06-01 03:19] hblab-nghianh commented on #470
Having the same issue with v0.26.3 and Sony Experia XZ

[2017-06-01 22:14] yasserzubair commented on #525
Can anybody help me on this? Can't get this to work. the string does not convert to image.

[2017-06-02 02:07] charlle commented on #178
iOS `Take Photo` not returning all the data to include: latitude and longitude.  I can take the same photo from within the app using react-native-image-picker (no data) and with the native camera and then `choose from library` (data is present).  I see that your capturing lat/lng in your code, so don't know what is happening.

[2017-06-02 04:40] ShanthiSenguttuvan commented on #525
Use fs module to create image,
import ImagePicker from 'react-native-image-picker';
var fs=require('fs');
ImagePicker.showImagePicker(options, (response) => {
fs.writeFile(Location, response.data, 'base64', function(err) {
          if(err){
                  console.log('Error', err);
          }
          else{
                 console.log('file created');
          }
   });
});

[2017-06-02 08:40] yasserzubair commented on #525
I solved the problem myself. You need to do
`let source = 'data:image/jpeg;base64,' + response.data`
instead of
`let source = { uri: 'data:image/jpeg;base64,' + response.data }`

[2017-06-02 12:53] Jeff-KaayLabs commented on #380
Even from Swift I have this warning

[2017-06-03 20:04] GeoffreyPlitt opened #602 "Android: launchImageLibrary({mediaType: 'video'}) shows no videos, but plenty of videos exist on device"
Device: Samsung Galaxy S6, Android 6.0.01
RN: 0.43.4
This lib: 0.26.2

I am running ImagePicker.launchImageLibrary() with a view different options. I have a ton of photos and videos available on the device, captured today, which can be found from many other applications on the device, for example Instagram can see the videos on this device.

Here are the options I'm using:
[code]

When I run this,

[2017-06-05 06:14] Bing-Xia opened #603 "Can I change the backgroundColor of tabbar while selecting photos"
### Description

After searching for hours, I didn't find any solutions to my situation. I had changed the theme of my app, and the backgroundColor is blue, but seems not work to the image-picker, snapshot below can explain what I met.
Thanks in advance~

![image](https://cloud.githubusercontent.com/assets/9410789/26772440/fe96e42e-49f7-11e7-8eba-b6b1878f96e6.png)

### Additional Information

* Re

[2017-06-05 14:15] openqubit opened #604 "Uploading an image in react-native using react-native-image-picker"
I have just initialized a basic react-native project and its running in the emulator. I have as well installed this package https://github.com/react-community/react-native-image-picker

and i am trying to upload an image. The code is simple as i have just added some code to handle image upload

    /**
     * Sample React Native App
     * https://github.com/facebook/react-native
     * @flow

[2017-06-05 15:00] syardumi commented on #604
More than likely, the "this" from your code chunk:

[code]
is trying to reference the caller object and not the instance of AwesomeProject to which you want to set the state. The way I would tackle it is to move the onPressLearnMore function to underneath the AwesomeProject class. Then, in the constructor of the class, you'll want to have a line:

`this.onPressLearnMore = this.onPressLearnMore.bin

[2017-06-05 18:59] openqubit commented on #604
[code]
/**
 * Sample React Native App
 * https://github.com/facebook/react-native
 * @flow
 */

import React, { Component } from 'react';
import {
  AppRegistry,
  StyleSheet,
  Button,
  Text,
  Image,
  Alert,
  View
} from 'react-native';

var ImagePicker = require('react-native-image-picker');

var options = {
  title: 'Select Avatar',
  customButtons: [
    {name: 'fb', title: 'Choose Photo f

[2017-06-05 21:27] syardumi commented on #604
Try moving the onPressLearnMore function like so:
[code]

[2017-06-06 08:51] openqubit commented on #604
That gives onPressLearnMore  is undefined. Alternatively, you can run this code https://github.com/GeekyAnts/NativeBase/issues/918 in your machine and see what i see. Its a small project with few dependencies so it should build fast.

[2017-06-06 09:04] hanweixing opened #605 "iOS: use QiNiu SDK upload a photo, need a fileName from response, but response do not back the fileName!"
version: 0.26.3
When i use this version, and i can not get the fileName. Then i open Xcode to debug, find that the usage of the foudation <Photos/Photos.h> used in react-native-image-picker maybe causes something wrong.
I find that these codes(in function `- (NSString * _Nullable)originalFilenameForAsset:(PHAsset * _Nullable)asset assetType:(PHAssetResourceType)type`) below went wrong:
`NSArray<PH

[2017-06-06 20:36] gabrielcandiag opened #606 "Image Picker always go to response.didCancel in Android < 5"
### Description

I'm using the library in my project, is working great in iOS and also in Android > 5, when i try to use the library in a Android version lower than 5 the response is always bringing **response.didCancel = true**, even if you press on **chooseFromLibraryButton** or **takePhotoButton**, so it never bring the data with the image.

### How to repeat issue and example

    ImagePicker.

[2017-06-06 20:37] buskerone commented on #606
Same issue here. Can't find a fix for this.

[2017-06-07 05:39] mbelgrader opened #607 "only partial response data when using launchCamera"
I need to get the height and width or at least isVertical of the video.
It is only in the response when picking from the gallery.
When using launchCamera, I only get the video path.

Is there a way to get this information when launching the camera directly?

[2017-06-07 14:22] pvanliefland commented on #581
FYI, I got around the issue by "overriding" the react-native-image-picker module with a custom static class that keeps the same signature. I made a gist out of it: https://gist.github.com/pvanliefland/92046b17444a8760475e7cc0dae4fec7

If the library author is interested, I can work on a pull request.

[2017-06-07 14:25] pvanliefland commented on #385
@damathryx @marcshilling see my comment in #581

[2017-06-07 15:14] santhosh77h commented on #254
@marcshilling it's still has a problem with the `filesize 0`

[2017-06-07 17:14] claudioviola commented on #178
I'm working on Android device (Nexus 5) and I didn't receive any GPS from both: library and camera.
This is my options:
` const options = {
            title: 'Pick Picture',
            storageOptions: {
                skipBackup: true,
                path: 'images'
            }
        };`

How can I check if location services are enabled for the app?
In AndroidManifest I have follow settings

[2017-06-08 15:25] claudioviola opened #608 "GPS Location not available"
I'm working on Android device (Nexus 5) and I didn't receive any GPS from both: library and camera.

This is my options:
` const options = {
            title: 'Pick Picture',
            storageOptions: {
                skipBackup: true,
                path: 'images'
            }
        };`

In AndroidManifest I have follow settings:

`
<uses-permission android:name="android.permission.INTERN

[2017-06-08 15:41] jonasf73 commented on #549
https://developer.apple.com/library/content/documentation/Cocoa/Conceptual/Exceptions/Articles/ExceptionsAndCocoaFrameworks.html#//apple_ref/doc/uid/TP40009045-SW1 The exception is a bug in the part which originated it, i.e. Vydia. It's not NSFileManager responsibility to catch it.

[2017-06-08 15:43] jonasf73 commented on #549
The exception shows a developer error (pin Vydia): NSInvalidArgument and is meant to not be caught. See https://developer.apple.com/library/content/documentation/Cocoa/Conceptual/Exceptions/Articles/ExceptionsAndCocoaFrameworks.html#//apple_ref/doc/uid/TP40009045-SW1

[2017-06-08 16:11] jbreuer95 commented on #540
+1

[2017-06-10 21:34] Kiarash-Z opened #609 "Undefined is not an object (evaluating 'ImagePickerManager.showImagePicker') on Android"
### Description

Hello I'm trying to use react native image picker but I get this error. I import that by require js and I have no problem with logging
`console.log(ImagePicker.showImagePicker)`
it would show:
`function showImagePicker(options, callback) {
    if (typeof options === 'function') {
      callback = options;
      options = {};
    }
    return ImagePickerManager.showImagePicker(babe

[2017-06-11 00:21] ranjitpandit commented on #551
@ericvillemure I'm seeing the same issue. Even if I set the cameraRoll to 'false, videos recorded using the module are always getting saved on the Android cameraRoll. Were you able to find a fix?

[2017-06-11 04:17] qiudaoermu commented on #609
I also have this problem

[2017-06-12 03:38] hanweixing opened #610 "When iphone shut down the camera authority, then no any tips."
So hope anyone can add authority judgement to present a tip.

[2017-06-12 09:00] Deevent commented on #180
I'm facing this issue after upgrading to react-native 0.44.3

[2017-06-12 09:22] Deevent opened #611 "setObjectForKey: object cannot be nil (key: data)'"
When I try to pick from photo library I get the following error :

When I look into ImagePickerManager.m, it seems that the following code is producing the error :
[code]

But in my options I'm not setting "noData" to false. So it shouldn't enter the if statement. If I comment out these lines, the error is not showing up anymore but the uri in my response object is linking to an inexistant picture

[2017-06-12 10:50] IgorVanian commented on #578
I have the same problem, what was your solution?

[2017-06-12 11:27] knalinne commented on #578
Hello,

The problem I had was due to another package using native dialog.
I had to update it to solve the issue.
The package is this one: https://www.npmjs.com/package/react-native-android-location-services-dialog-box

If you don't use it, maybe you should check if all your packages using the native dialog are up to date.

[2017-06-12 14:38] BroshkovD commented on #397
Hello Ghost. How did you solve this problem? Could you provide some example?

[2017-06-12 14:41] BroshkovD commented on #483
Any ideas how solved this problem?

[2017-06-12 20:59] GeoffreyPlitt commented on #602
Can anyone with an S6 reproduce?

[2017-06-13 00:15] nexon commented on #606
Same issue here. Is a weird one.

[2017-06-13 07:26] snyqm opened #612 "Android5.1 ‘’Take photo‘‘ occur error and app crash"
### Description

when i choose the “Take Photo” option，APP crash

### error code

java.lang.NullPointerException: Attempt to invoke virtual method 'android.content.res.XmlResourceParser android.content.pm.ProviderInfo.loadXmlMetaData(android.content.pm.PackageManager, java.lang.String)' on a null object reference
	at android.support.v4.content.FileProvider.parsePathStrategy(FileProvider.java:560)

[2017-06-15 01:29] vzhen commented on #566
@matart15 what does it mean?
my response file type always return null. Do you know why?

[2017-06-15 05:13] #604 closed

[2017-06-15 08:35] yasserzubair opened #614 "How to resize or scale before converting to base64"
### Description
Whenever I capture an image or choose from gallery, I want to resize it before converting to base64 uri and then get the base 64 uri of the resized image.

[2017-06-16 06:51] Evan-Future opened #615 "Android 4.4.4 Samsung S3 take photo Restart APP/拍照或选择照片重启"
Android 4.4.4
RN：v0.44.3
React-native-image-picker ：v0.26.3
Add permission：
<uses-permission android:name="android.permission.CAMERA" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

Question description：
Choose to take pictures or albums to select a photo, APP directly restart automatically, this phenomenon is occasional, but the number of more. Sometimes you can no

[2017-06-16 13:19] MossP commented on #615
I've just noticed this also but haven't looked any further to ensure it's not an error at my end yet.

[2017-06-16 14:04] MossP commented on #615
Did you add the permissions to `AndroidManifest.xml`? That's what was missing for me.
[code]

[2017-06-16 20:27] aldente05 opened #616 "[IOS] fileName undefined"
### Description
when i get response.uri is success, but when response.fileName on ios 10
the fileName is undefined
### Additional Information

* React Native version: "react-native": "0.44.0"
* Platform: iOS
* Development Operating System:  developing on MacOS Sierra
* Dev tools: Atom

[2017-06-17 07:57] palashmandokhot opened #617 "how to solve solve my open failed:ENOENT( no such file or directory found)"
how to solve solve my open failed:ENOENT( no such file or directory found)

[2017-06-17 08:32] abdurrahmanekr commented on #612
remove these lines from AndroidManifest.xml file:
[code]

[2017-06-18 09:50] matart15 commented on #566
Mine was null too. I don't know the reason. But I assigned it manually. Because i knew my file would be 'image/png'. Then my php backend received uploaded files

[2017-06-18 09:51] #566 closed

[2017-06-20 04:25] haitaoli commented on #615
This could be caused by low memory. Does the phone with lower Android version have less memory? You can try selecting large and small photos to verify.

[2017-06-20 04:27] haitaoli commented on #614
@yasserzubair check out `maxWidth` and `maxHeight`: https://github.com/react-community/react-native-image-picker#options

[2017-06-20 04:31] haitaoli commented on #609
`undefined is not an object` is happening in javascript code. Are you passing in valid `options` and `callback` parameters?

[2017-06-20 04:33] haitaoli commented on #608
@claudioviola I suspect GPS metadata is stripped when image is resized. Could you try picking a small image while giving large `maxWidth` and `maxHeight` values?

[2017-06-20 04:45] haitaoli commented on #577
This is how the module is installed in my app.

[2017-06-20 04:49] haitaoli commented on #572
@JimmyDaddy try this: https://github.com/react-community/react-native-image-picker/pull/565. The reason I didn't merge the change is because it might lower the resized image quality if device has enough memory to load the full resolution image.

[2017-06-20 05:26] theLallanTop opened #618 "Error: {Name} has stopped, open app again"
* App crashes without an error after selecting image from album or clicking camera.

### Description

### How to repeat issue and example

[code]

[code]

### Additional Information

* React Native version: "0.41.0"
* react-native-image-picker@latest
* Platform:  iOS, Android Both
* Development Operating System: MacOS
* Dev tools: Xcode 8.3.2 and Android Studio 2.3 , iOS 10 or Android SDK version

[2017-06-20 07:01] huangdou0204 commented on #615
@MossP  yes， I've added it and forgot to write it。

[2017-06-20 07:02] huangdou0204 commented on #615
@haitaoli OK， thx！

[2017-06-20 09:12] santhosh77h commented on #561
Is this issue fixed?

[2017-06-20 13:20] santhosh77h commented on #561
Update app it will solve this issue

[2017-06-20 14:03] duyleduc commented on #618
I have the same error but when I re-open the app and take picture, it works ! (on debug and on prod too)

[2017-06-21 11:35] carlo-fontanos opened #620 "How to make it work using CRNA Template?"
Hi, newbie in react native here.

I'm sure your plugin works great when installed on a non-CRNA installation, but I have an app made up of CRNA, I was wondering if your plugin currently supports it?

I've tried installing your plugin on my CRNA app, but i'm getting `undefined is not an object (evaluating 'imagepickermanager....`

I couldn't do your manual installation steps from the README.MD beca

[2017-06-22 06:03] Nasirilahi commented on #600
@dylanschirino  Thanks, It also worked for me. and I also wasted my whole day finding the solution and finally this worked for me

[2017-06-22 11:02] EthanChouTW commented on #241
@villetou thanks

[2017-06-22 23:47] gjae opened #623 "Execution failed for task ':react-native-maps:processReleaseResources'."
Hello friends!

I'm using react native 0.45 and airbnb/react-native-maps for use MapView component in a physical devices (i have installed google play services) with android version 4.4, but i have the following problem:

`:react-native-maps:processReleaseResources FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':react-native-maps:processReleaseResou

[2017-06-22 23:49] #623 closed

[2017-06-23 07:57] saltas888 commented on #609
Hi, you need to follow the instructions on Readme. You get this error because either you haven't link the project in to yours Android project either you did it but you didn't re-build it

[2017-06-23 16:30] ctorresthrash commented on #319
@rogerluo410 I'm facing the same problem, I've done all the manual steps, the library runs when the project is running from XCode, but error is shown when it's started with `react-native run-ios`. The point is I can't understand what are you talking about with ` you need to include the library into your project first`, could you pleas tell me?

[2017-06-23 18:09] GeoffreyPlitt commented on #602
Is this the cause? https://github.com/facebook/react-native/commit/a324dfbd516f958a45032f4ce6f1a81ca7580967

[2017-06-24 00:37] iremlopsum commented on #612
@abdurrahmanekr I don't feel like this is the correct solution, instead there should be a subclass that extends the FileProvider, I can make a PR tomorrow to fix this issue

[2017-06-24 01:13] angusmccloud commented on #470
Has anyone found a solution to this?

[2017-06-24 18:45] claudioviola commented on #608
@haitaoli thanks for support!
I followed your suggestion and I setted maxWidth: 8000, maxHeight: 8000, but unfortunately
I still don't see any Gps data in file...
Any idea?

Thanks again!

[2017-06-25 04:23] gregol commented on #615
i have the same issue on android 4.1 and 4.4, on android 6.0 works fine

[2017-06-25 04:36] gregol commented on #593
i have the same issue with android 4.1 and 4.4, but when the remote debugger is running the app and image picker, the photo loads without problems. With android 6.0 it works  good

[2017-06-26 02:10] rogerluo410 commented on #319
@ctorresthrash

1. In the XCode's "Project navigator", right click on your project's Libraries folder ➜ Add Files to <...>, choose the react-native-image-picker's  .xcodeproj  file which is in "node_modules/react-native-image-picker" folder  into Libraries folder in your project.

2. Add RNImagePicker.a to Build Phases -> Link Binary With Libraries.

3. If also have issue, try to clean build.

[2017-06-26 20:54] GeoffreyPlitt commented on #602
I upgraded to 0.45 and it's not fixed.

Does anyone read these bugs?

[2017-06-26 20:55] GeoffreyPlitt commented on #602
@marcshilling @haitaoli @alexeypodolian @rusfearuth @cooperka @egpast

[2017-06-27 05:11] chetankotkar opened #624 "Android 6.0 crash on denying permissions"
### Description

 on android 6.0 when I click On button to pick image  I call the function as

[code]

It asks for runtime permissions on android 6.0 and above. When I allow permissions it works fine. But when I deny permissions and again try to call above function instead of asking for permission again it crashes the app with following error.

[code]

### How to repeat issue and example

On butto

[2017-06-27 08:49] xuchenchenBoy opened #625 "Can't set cancelButtonTitle to null or empty string in android."
When i write:

    const options = {
	    title: null,
	    cancelButtonTitle: '',
    };

    onOpenImgPicker() {
	  ImagePicker.showImagePicker(options, (response) => {
	      let { uri, fileName, } = response;
	      this.uploadQiniu(uri, fileName);
	  });
    }

And  error:
     Atempt to read from field 'java.lang.String com.imagepicker.utils.ButtonsHelper Item.title' on a null object referen

[2017-06-27 15:08] duyleduc opened #626 "[Android] App crash on release"
My app works perfectly on debug but does not on release,
it causes : "App crahsed, open again" after taking a photo.
Sometimes, application is blocked after displaying the taken photo on imageview.

App works on Ios device.

Android version 7.0
My options:
var options = {
  title: 'something goes here',
  maxWidth: 1024,
  maxheight: 1024,
  quality: 0.85,
  fileSize: 3145728,
  storageOptions: {

[2017-06-27 20:26] Clowning commented on #626
Same for me !

[2017-06-27 20:27] Clowning commented on #618
Same for me ...

[2017-06-27 20:28] Clowning commented on #615
On Android 7.0 it's not working...

[2017-06-27 20:58] nicgutierrez opened #627 "Callback takes up to 6 seconds to fire."
### Description

Selecting an image from the gallery of about 6M will cause the picker to show but the callback will take up to 6 seconds to get fired.

### How to repeat issue and example

I'm not doing anything particular. Just following the example really, here's the options I'm using:
[code]

### Additional Information

* React Native version: 0.44.0
* Platform: iOS
* Development Operating Sys

[2017-06-28 15:54] Clowning commented on #627
Same issue for me!

[2017-06-29 03:53] MilosHavel commented on #109
I am newbie of React Native developer, I have used this lib on my project.
And I could not go ahead since I met this issue.
I could not set the image with lib image, it said "_this2.setState is not a funciton."
Could you help me?
![screen shot 2017-06-29 at 05 49 58](https://user-images.githubusercontent.com/18087087/27670758-44365560-5c8f-11e7-9fc0-d8229cffd2a6.png)

[2017-06-29 07:39] kinandwair commented on #612
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />
add these line to AndroidManifest.xml ........ It worked for me

[2017-06-29 15:55] enguerranws opened #630 "Nothing happens on Android 7"
Hi,

I'm almost sure I read something about my issue before, but here it is:
- on React Native 0.43.3
- using last react-native-image-picker version
- on my Android devices (Nexus 5x, Android 7 and Nexus 7, Android 6)
- I can open the "Select a Photo" modal
- whether a touch Take photo... or Choose from Library, it closes the modal but triggers no callback.

Here's how I did that, it works well in

[2017-06-30 03:54] zhenzhenjiang commented on #612
Now android 5.1, the camera permission is also opened, but a click ' 'Take photo', how do you solve this?

[2017-06-30 04:02] snyqm commented on #612
distributionUrl=https\://services.gradle.org/distributions/gradle-2.14.1-all.zip  <- use gradle-2.14.1-all.zip
 classpath 'com.android.tools.build:gradle:2.2.+' // <- USE 2.2.+ version

fixed！！

[2017-06-30 06:07] zhenzhenjiang commented on #612
Is there any other way to solve this problem? I am now using gradle-2.4-all.zip, using 1.2.3 version, and if I change it to your version, there will be more unexpected problems after compiling the program

[2017-06-30 08:53] enguerranws commented on #630
For the record, I solved it using: https://github.com/react-community/react-native-image-picker/issues/373#issuecomment-257964787

I was missing:
[code]
In AndroidManifest.xml

[2017-06-30 08:55] enguerranws commented on #630
Should those two lines be added to the documentation (Android>Manual installation)?

[2017-07-01 23:47] ajonno commented on #627
me too. is a showstopper for our app so unless can workaround will need to look at alternatives. if anyone has suggestion please let me know, thanks!

[2017-07-03 03:00] SrengGueckly opened #631 "cannot accessing gallery for android"
Image picker works before in android , but now it only works in IOS , I tried to init new react-native project and follow all the instruction but I still can't open gallery, can you give me the solution?

[2017-07-03 03:36] SrengGueckly commented on #631
sorry, I forgot the permission in androidmanifest.xml , so I gotta close this issue

[2017-07-03 03:36] #631 closed

[2017-07-03 16:02] nicgutierrez commented on #627
After trying out https://github.com/ivpusic/react-native-image-crop-picker, it seems that the issue might be related with the base64 data? The only reason why I'm saying this, is because react-native-image-crop-picker returns the image right away when base64 is switched off (default), however, if you turn it on, it takes a little bit longer.

Any ideas?

[2017-07-06 13:15] cosmith opened #632 "iOS 11 - NSPhotoLibraryAddUsageDescription required"
### Description

Just a heads up for anyone trying to use this lib on iOS11 - you need to add `NSPhotoLibraryAddUsageDescription` in your Info.plist (see https://developer.apple.com/library/content/documentation/General/Reference/InfoPlistKeyReference/Articles/CocoaKeys.html)

### How to repeat issue and example

The app will crash on iOS 11 if you don't add `NSPhotoLibraryAddUsageDescription` wit

[2017-07-07 10:17] bkniya opened #634 "get geoLocation info from meta data of image"
I can get geoloacation info when i upload a photo via phone cam, but i can't get geoloacation info when i upload a photo via app cam on IOS.(do not have any problem in android)
Also i can't get geolaocation info while adding a photo from gallery which is taken by app cam.

[2017-07-08 00:10] Angelk90 opened #635 "Problem with path uri for files sent by bluetooth"
### Description

Try taking any image from:
camera, pictures, screenshots, downloads, blueetooth
All is fine, the picture is taken.

Since I have to send the image through FormData (),
To be able to send the picture, I do something like this:
`body.append('photo',{uri: this.state.photo,type: this.state.photoType,name: 'screen.png'});
`
Where:
[code]

In the case of:
camera, pictures, screenshots,

[2017-07-09 14:16] angusmccloud commented on #607
@mbelgrader any luck with this? I've found (at least on android where the rotation matters) that the only data I get in the response is: height, timestamp, uri, and data - none of the other attributes described in the documentation.

[2017-07-09 21:04] DJNgoma commented on #632
The above didn't work for. Had to use ```NSPhotoLibraryUsageDescription``` instead on my end.

[2017-07-10 02:55] colorfulberry commented on #560
@imarem  @loodsite  How do you solve it with the end?

[2017-07-10 03:42] colorfulberry commented on #560
github.com +### Directly Launching the Camera or Image Library + + To Launch the Camera or Image Library directly (skipping the alert dialog) you can + do the following: +
[code]

Then you can custom the selecor.

[2017-07-10 05:27] krazyzohaib opened #636 "how to get path in ios"
hi,
i want to use this image picker for ios and i want the path of the image so i can send it to server. I am using react-native-uploader to send files to server which requires filename filepath. can anyone help me with this?

[2017-07-10 07:57] imarem commented on #560
@colorfulberry Exactly. Using each of the options separately.

;)

[2017-07-10 09:09] cosmith commented on #632
To be clear I had to use both `NSPhotoLibraryUsageDescription` as specified in the readme and the new `NSPhotoLibraryAddUsageDescription`.

There is a small bug too where it will ask for permission twice (once for read access and once for write access).

[2017-07-10 10:03] DJNgoma commented on #632
Makes sense. Currently only using it for reading, but won't hurt to add it in for writing purposes in the future.

[2017-07-10 10:50] xien0 commented on #537
I get the same problem too, in my case, when I take a photo and delay to confirm after about 8 seconds or later, the confirm button did not work or the app is aborting; any solution to fix it?

[2017-07-11 04:34] GopiKrishna10 commented on #412
hi Guys,
  i am still facing a issue when I take the picture and press OK button the app get restarted.in all mobiles like redmi note4 and moto g2. am trying to resolve from one day. am not able to solve this can u please help me thanks in advance @marcshilling @agrass

config
====
 "react-native": "^0.42.3",
"react-native-image-picker": "^0.26.3"
db is firebase

[2017-07-11 06:36] GopiKrishna10 commented on #316
hi Guys,
i am still facing a issue when I take the picture and press OK button the app get restarted.in all mobiles like redmi note4 and moto g2. am trying to resolve from one day. am not able to solve this can u please help me thanks in advance @marcshilling

i update the version react-native-image-picker from 0.26.3 to 0.22.9. app getting like "unfortunately app has stopped" showing pop up like

[2017-07-11 06:37] GopiKrishna10 commented on #382
hi Guys,
i am still facing a issue when I take the picture and press OK button the app get restarted.in all mobiles like redmi note4 and moto g2. am trying to resolve from one day. am not able to solve this can u please help me thanks in advance @marcshilling @agrass

i update the version react-native-image-picker from 0.26.3 to 0.22.9. app getting like "unfortunately app has stopped" showing pop

[2017-07-11 07:04] GopiKrishna10 commented on #561
hi Guys,
i am still facing a issue when I take the picture and press OK button the app get restarted.in all mobiles like redmi note4 and moto g2. am trying to resolve from one day. am not able to solve this can u please help me thanks in advance

i update the version react-native-image-picker from 0.26.3 to 0.22.9. app getting like "unfortunately app has stopped" showing pop up like this.

config

[2017-07-12 06:21] GopiKrishna10 commented on #537
hi @spidergears ,

could u solve that Issue because am also facing same issue.i searched in google all are telling that downgrade the react-native-image-picker plugin to v0.22.9. for me its not working.can  u try if it works for u

[2017-07-12 08:37] hygkui opened #638 "undefined origURL when picking image by cameraRoll on iOS"
### Description

When pick an image from the photo album, we can get the response object with the property `uri` and `origURL`, but if we pick the image by cameraRoll, the property `origURL` will be undefined.
And i would like to use the `origURL` which point to the assetURL of the image, so that i can get some Exif information.

### How to repeat issue and example

- pick from the photo album

**

[2017-07-12 09:22] fschai89 opened #640 "IOS8: image fileName is undefined"
### Description
The fileName for response object is undefined or null on IOS8.1,

### How to repeat issue and example
Use IOS8.1 device and select any image, try to log its response object filename but undefined.

### Solution
I this is the get filename method in the ios not compatible with IOS8.

### Additional Information

* React Native version: 0.45.1
* Platform: IOS 8.1
* Development Operatin

[2017-07-13 01:37] colorfulberry commented on #560
@imarem Yeah,  you are correct.

[2017-07-13 04:24] romanenko opened #641 "Build error on RN 0.47.0-rc.3 (Android)"
### Description

I've upgraded my project to React 0.47.0-rc.3 and, with `react-native-image-picker` as a dependency it broke Android builds. Build error log:

[code]

### How to repeat issue and example

`react-native init Example --version 0.47.0-rc.3 && cd Example`
`yarn add react-native-image-picker`
`react-native run-android`

### Solution

I guess, this issue (#307) could be somehow related

[2017-07-13 08:03] dancomanlive commented on #634
what is the difference between phone cam and app cam?

[2017-07-13 16:55] bkniya commented on #634
I think so there's no difference between two cam. The problem may be while saving photo, it doesn't write geolocation info in image meta tag.

[2017-07-13 19:40] GregTheGreek opened #642 "Automatically open camera?"
Is there a way to open the camera automatically? without displaying 'take photo' or 'choose from library'

[2017-07-14 17:51] sandropoluan opened #643 "App disappear (not crash) when launcher box appear"
**This is what i get**.
![videotogif_2017 07 15_01 26 25](https://user-images.githubusercontent.com/11922251/28223450-134573de-68fe-11e7-854c-67ca4a20a3a9.gif)

**But i want the launcher is in front of the app like this**.
![screenshot_2017-07-15-01-43-49-247_android](https://user-images.githubusercontent.com/11922251/28223978-0b43c77e-6900-11e7-8f63-7bd67ad4929d.png)

What do I miss?

RN 0.44
rea